<div class="content wrapper cf">

  <div class="static_content static_page">
    <h2 class="albert-light-normal">ALM Reports</h2>
    
<div>
ALM Reports is a reporting tool for researchers, research institutions, and funders to pull the latest article-level metrics (ALM) – measurements of the overall performance and reach of research articles – published by PLOS.
</div>

<h3>Article-Level Metrics measure the dissemination and reach of published research articles.</h3>
<div>
Traditionally, the impact of research articles has been measured by the publication journal. But a more informative view is one that examines the overall performance and reach of the articles themselves. Article-Level Metrics are a comprehensive set of impact indicators that enable numerous ways to assess and navigate research most relevant to the field itself, including:
<ul>
  <li>usage</li>
<li>citations</li>
<li>social bookmarking and dissemination activity</li>
<li>media and blog coverage</li>
<li>discussion activity and ratings</li>
</ul>
</div>

<h3>Article-Level Metrics can be used to support:</h3>
<div>
  <h4>Researchers:</h4>
  <ul>
    <li>Track the impact of your research and share with others (funders, promotion boards, etc.)</li>
    <li>Navigate and filter research to find what is most suited to your needs</li>
    <li>Find collaborators based upon the impact of their work and relevance to yours</li>
    <li>Measure research impact with metrics at the article level, instead of at the traditional journal level</li>
    <li>Search, filter, and aggregate scholarly content based on research impact with metrics at the article level</li>
  </ul>
</div>

<div>
<h4>Research Institutions:</h4>
<ul>
  <li>Track dissemination of articles published (types of channels, rate of growth, etc.) by members of the institution</li>
  <li>Access up-to-date information on the research progress of faculty members, useful for tenure and promotion decisions</li>
  <li>View data on downstream impact of publications</li>
  <li>Roll up data for custom reporting of department’s research activities</li>
</ul>
</div>

<div>
<h4>Funders:</h4>
<ul>
  <li>Efficiently track progress of the research impact of grant awardees in an automated fashion with the most relevant signals</li>
  <li>Measure research impact with metrics at the article level, instead of at the traditional journal level</li>
  <li>Measure evidence of wider engagement</li>
  <li>Monitor and enhance engagement from a specific audience</li>
  <li>Identify high-impact research outputs much earlier</li>
  <li>Analyze trends of past and future funding programs</li>
  <li>Conduct network analysis to evaluate researcher communities</li>
</ul>
</div>

<div>
<h4>Publishers:</h4>
<ul>
  <li>Attract authors by offering data on the audience’s research interest</li>
  <li>Track dissemination of articles published (types of channels, rate of growth, etc.)</li>
  <li>Provide content distributors data on downstream impact of publications</li>
  <li>Gain comprehensive understanding of how publications are disseminated and accessed</li>
  <li>Report on the usage of the article in ways that suit your business needs</li>
  <li>These are just a small selection of ways in which ALM data can be used to advance science.</li>
</ul>
</div>

<h3>Using ALM Reports:</h3>
<div>
To create an ALM report, establish a list of articles and generate the report. First, identify a single or set of PLOS articles and add it/them into your list.  You can then preview the list and refine its elements by adding or removing more items.  Continue to curate your list with as many searches, selections, and uploads as needed.  Once it is in order, view the report via the ALM Summary or the visualizations of its data.  This report can then be downloaded, saved, and shared to others.
</div>

<h4>1. Add articles</h4>
<div>
<ul>
  <li>Keyword article search: Conduct a faceted search on the PLOS corpus based on keywords or date.  Make it as precise or wide-reaching as is relevant to your needs. In large results set, sort the results so as to easily locate specific types of articles.  Then, select single articles of interest or the entire set of search results.</li>
  <li>Best in Class selection: Add articles to your list based on results that contain articles sorted by highest ALM activity across the following areas: top cited, top views, top bookmarked, top Tweets, top shared.</li>
  <li>Direct upload of articles by DOI/PMID: Add individual PLOS articles based on their DOI or PMID.</li>
  <li>Direct upload of articles in bulk: Add a bulk set of PLOS articles by uploading a CSV file containing DOIs or PMIDs.  Each entry should be delimited by a comma.</li>
</ul>
</div>

<div>
ALM Reports has a maximum limit of 500 articles.  In the event that a bulk selection may result in a subtotal exceeding this amount, the application will retain the top results up to the maximum number of articles.
</div>


<h4>2. Preview list</h4>
<div>
As articles are added to the list, they will appear in the Preview List page for your review.  Edit your search results here so that the report and visualizations contain only the articles of interest.  Easily remove articles or clear the entire selection to begin again.
</div>


<h4>3. View report</h4>
<div>
Metrics Data: Each article listing displays the ALM activity along with information on the title, authors, journal, publication date, and DOI.  By default, ALMs with zero counts are suppressed in the summary view, but can be exposed in the full view.  They are grouped into the following categories: usage, citation, social network, blogs &amp; media, and PLOS community.
</div>

<div>
Visualizations: We offer a set of four visualizations that individually provide a different view of the data set for lists that contain more than one article:
<ul>
  <li>Article usage and citations as a function of age – In the bubble chart, total usage includes page views and downloads from PLOS and PMC. Bubble size correlates with Scopus citations and bubble color with the PLOS journal.</li>
  <li>Article usage and Mendeley bookmarks as a function of age – In the bubble chart, total usage includes page views and downloads from PLOS and PMC. Bubble size correlates with Mendeley bookmarks and bubble color with the PLOS journal.</li>
  <li>Article usage by subject category – In the tree map, rectangle size correlates with the number of articles associated with the subject area and the color intensity with total usage.</li>
  <li>Research articles by location – The geographical map displays the location of the authors based on their affiliation.</li>
</ul>
</div>

<h4>4. Download, save, and share report</h4>
<div>
Once the ALM Report is created, you can save your work in a number of ways:
<ul>
  <li>Download the data (CSV file) and visualizations (ZIP file of the images) to access it offline at any time.  Furthermore, save the curated list of articles included in the report by downloading the article list DOIs (CSV file) for future reference.</li>
  <li>Refresh the data and generate the latest numbers for the list of articles by revisiting the saved URL that is unique to your report.</li>
  <li>Share the latest data in the report with others through email or social media via the report’s unique URL.</li>
</ul>
</div>
<div>
We welcome feedback on the ALM Reports application and are interested in ideas for new functionality that would better serve your reporting needs.  Please send us feedback through the email link at the top of each page.
</div>

  </div>
</div>
