

  <div class="static_content static_page">
    <h2>ALM Reports</h2>

<div>
ALM Reports is a reporting tool for researchers, research institutions, and funders to pull the latest article-level metrics (ALM) – measurements of the overall performance and reach of research works – published by PLOS.
</div>

<h3>Article-Level Metrics measure the dissemination and reach of published research works.</h3>
<div>
Traditionally, the impact of research works has been measured by the publication journal. But a more informative view is one that examines the overall performance and reach of the works themselves. Article-Level Metrics are a comprehensive set of impact indicators that enable numerous ways to assess and navigate research most relevant to the field itself, including:
<ul>
  <li>usage</li>
<li>citations</li>
<li>social bookmarking and dissemination activity</li>
<li>media and blog coverage</li>
<li>discussion activity and ratings</li>
</ul>
</div>

<div>
In this reporting application, we make the following metrics available for all PLOS content:
<ul>
  <li>Viewed - PLOS &amp; PMC page views and downloads</li>
  <li>Cited - CrossRef, PMC, Scopus</li>
  <li>Saved - CiteULike, Mendeley</li>
  <li>Discussed - NatureBlogs, ScienceSeeker, ResearchBlogging, Twitter, Facebook, Wikipedia</li>
</ul>
</div>

<div>
  For greater detail about each of the data sources and the activity measured for each work, please visit the ALM Info page: <a href="http://www.plosone.org/static/almInfo">http://www.plosone.org/static/almInfo</a>.
</div>

<div>We provide a downloadable zip file of the full summary ALM report, which contains the entire PLOS corpus of works and is updated on a monthly basis: <a href="http://article-level-metrics.plos.org/plos-alm-data/">http://article-level-metrics.plos.org/plos-alm-data</a>.</div>


<h3>Using ALM Reports:</h3>
<div>
To create an ALM report, establish a list of articles and generate the report. First, identify a single or set of PLOS works and add it/them into your list.  You can then preview the list and refine its elements by adding or removing more items.  Continue to curate your list with as many searches, selections, and uploads as needed.  Once it is in order, view the report via the ALM Summary or the visualizations of its data.  This report can then be downloaded, saved, and shared to others.
</div>

<h4>1. Add works</h4>
<div>
<ul>
  <li>Keyword work search: Conduct a faceted search on the PLOS corpus based on keywords or date.  Make it as precise or wide-reaching as is relevant to your needs. In large results set, sort the results so as to easily locate specific types of articles.  Then, select single works of interest or the entire set of search results.</li>
  <li>Best in Class selection: Add works to your list based on results that contain works sorted by highest ALM activity across the following areas: top cited, top views, top bookmarked, top Tweets, top shared.</li>
  <li>Direct upload of articles by DOI/PMID: Add individual PLOS works based on their DOI or PMID.</li>
  <li>Direct upload of works in bulk: Add a bulk set of PLOS works by uploading a CSV file containing DOIs or PMIDs.  Each entry should be delimited by a comma.</li>
</ul>
</div>

<div>
ALM Reports has a maximum limit of 500 works.  In the event that a bulk selection may result in a subtotal exceeding this amount, the application will retain the top results up to the maximum number of works.
</div>


<h4>2. Preview list</h4>
<div>
As works are added to the list, they will appear in the Preview List page for your review.  Edit your search results here so that the report and visualizations contain only the works of interest.  Easily remove works or clear the entire selection to begin again.
</div>


<h4>3. View report</h4>
<div>
Metrics Data: Each works listing displays the ALM activity along with information on the title, authors, journal, publication date, and DOI.  By default, ALMs with zero counts are suppressed in the summary view, but can be exposed in the full view.  They are grouped into the following categories: usage, citation, social network, blogs &amp; media, and PLOS community.
</div>

<div>
Visualizations: We offer a set of four visualizations that individually provide a different view of the data set for lists that contain more than one work:
<ul>
  <li>Article usage and citations as a function of age – In the bubble chart, total usage includes page views and downloads from PLOS and PMC. Bubble size correlates with Scopus citations and bubble color with the PLOS journal.</li>
  <li>Article usage and Mendeley bookmarks as a function of age – In the bubble chart, total usage includes page views and downloads from PLOS and PMC. Bubble size correlates with Mendeley bookmarks and bubble color with the PLOS journal.</li>
  <li>Article usage by subject category – In the tree map, rectangle size correlates with the number of works associated with the subject area and the color intensity with total usage.</li>
  <li>Research works by location – The geographical map displays the location of the authors based on their affiliation.</li>
</ul>
</div>

<h4>4. Download, save, and share report</h4>
<div>
Once the ALM Report is created, you can save your work in a number of ways:
<ul>
  <li>Download the data (CSV file) and visualizations (ZIP file of the images) to access it offline at any time.  Furthermore, save the curated list of works included in the report by downloading the work list DOIs (CSV file) for future reference.</li>
  <li>Refresh the data and generate the latest numbers for the list of works by revisiting the saved URL that is unique to your report.</li>
  <li>Share the latest data in the report with others through email or social media via the report’s unique URL.</li>
</ul>
</div>
<div>
We welcome feedback on the ALM Reports application and are interested in ideas for new functionality that would better serve your reporting needs.  Please send us feedback through the email link at the top of each page.
</div>

<h3>Article-Level Metrics can be used to support:</h3>
<div>
  <h4>Researchers:</h4>
  <ul>
    <li>Track the impact of your research and share with others (funders, promotion boards, etc.)</li>
    <li>Navigate and filter research to find what is most suited to your needs</li>
    <li>Find collaborators based upon the impact of their work and relevance to yours</li>
    <li>Measure research impact with metrics at the work level, instead of at the traditional journal level</li>
    <li>Search, filter, and aggregate scholarly content based on research impact with metrics at the work level</li>
  </ul>
</div>

<div>
<h4>Research Institutions:</h4>
<ul>
  <li>Track dissemination of works published (types of channels, rate of growth, etc.) by members of the institution</li>
  <li>Access up-to-date information on the research progress of faculty members, useful for tenure and promotion decisions</li>
  <li>View data on downstream impact of publications</li>
  <li>Roll up data for custom reporting of department’s research activities</li>
</ul>
</div>

<div>
<h4>Funders:</h4>
<ul>
  <li>Efficiently track progress of the research impact of grant awardees in an automated fashion with the most relevant signals</li>
  <li>Measure research impact with metrics at the work level, instead of at the traditional journal level</li>
  <li>Measure evidence of wider engagement</li>
  <li>Monitor and enhance engagement from a specific audience</li>
  <li>Identify high-impact research outputs much earlier</li>
  <li>Analyze trends of past and future funding programs</li>
  <li>Conduct network analysis to evaluate researcher communities</li>
</ul>
</div>

<div>
<h4>Publishers:</h4>
<ul>
  <li>Attract authors by offering data on the audience’s research interest</li>
  <li>Track dissemination of works published (types of channels, rate of growth, etc.)</li>
  <li>Provide content distributors data on downstream impact of publications</li>
  <li>Gain comprehensive understanding of how publications are disseminated and accessed</li>
  <li>Report on the usage of the work in ways that suit your business needs</li>
  <li>These are just a small selection of ways in which ALM data can be used to advance science.</li>
</ul>
</div>

<div>
<h3>Known limitations with ALMs include the following:</h3>
<div>
Robot activity may impact online usage data. PLOS has excluded all that are identified on this growing list, however PMC will be excluding a different list. No robot list is exhaustive and some level of robot usage will undoubtedly remain in the data.
</div>
<div>
Differences in PLOS usage data for work published prior to July 1st, 2005: Usage data reported for these works is shown as an HTML view but actually represents a "combined" figure made up of the 3 view types. This primarily affects works published in PLOS Biology and PLOS Medicine. Usage between HTML, PDF and XML view types cannot be separated due to problems with early log files before July 1st, 2005.
</div>
<div>
PubMed Central usage data: PMC statistics are COUNTER 3- compliant to the extent that they exclude internal use and crawlers/bots, and do not count duplicate requests for HTML pages or PDFs that are made within the limits specified by the standard. They are not compliant in that NLM does not provide usage data by specific IP, user, or organization. PMC began to make their usage data available to PLOS on January of 2010. Articles published before that point will not have PMC data prior to that time. We receive monthly reports from PMC of the prior month's usage and so there may be a lag in the display of data up to one month's time.
</div>
<div>
Scopus Citations: Scopus sometimes significantly undercounts the number of citations to a specific works. This is due to the existence of double records in their database for many PLOS works. Hence, citations are spread across both records. PLOS is working with Scopus to improve their database in this respect, and so Scopus citation counts may increase in the future.
</div>
<div>
CrossRef Citations: These citations to the works are provided by the CrossRef Cited-by Linking service. The data are limited to journals participating in CrossRef's Cited-by Linking service.
</div>
<div>
Varying start dates for metrics: Some of the services from which we obtain the data were introduced after the ALM program began in 2009. Furthermore, PLOS gradually expanded the set of data channels over time. Article published before the data source was integrated may not contain any data. For Twitter, we began collecting tweets for PLOS works on June 1, 2012, and the Twitter ALM count does not include data prior to this time period. We search and pull tweets based upon the DOI of the work, which is embedded in the work URL. Shortened URLs substantially modify this original URL structure, however. To the extent possible we attempt to reconstruct the long-form, original tweet URL and collect it for display.
</div>
</div>

  </div>
