<div class="content wrapper">
  <div class="static_content static_page">
    <h2>Internal Error</h2>
    <div>
      We're sorry, something went wrong.  Our engineers have been notified
      and we hope to fix the problem soon.
    </div>
  </div>
</div>
