<div class="content wrapper cf">

  <div class="static_content static_page">

    <h2 class="albert-light-normal">Privacy Policy</h2>
      <div>
PLOS is dedicated to protecting personal information and will make every reasonable effort to handle collected information appropriately. All information collected, as well as related requests, will be handled as carefully and efficiently as possible in accordance with PLOS' standards for integrity and objectivity.
      </div>

<h3>Collecting Personal Information</h3>
<div>
In some circumstances, we may request personal information from you, such as your name, e-mail address, institutional name, or telephone number. Your response to these inquiries is strictly voluntary. PLOS uses this information to customize your experience and interface with our electronic resources. In general, you can visit our site without divulging any personal information.
</div>

<h3>Collecting Domain Information</h3>
<div>
PLOS also collects domain information as part of its analysis of the use of this site.These data enable us to become more familiar with which customers visit our site, how often they visit, and what parts of the site they visit most often. PLOS uses this information to improve its Web-based offerings. This information is collected automatically and requires no action on your part.
</div>

<h3>Disclosure to Third Parties</h3>
<div>
We treat our readers' information as private and confidential, and we will not disclose your data to third parties without your express permission or unless required by law.
</div>

<h3>Use of Cookies</h3>
<div>
Some pages on this site may use "cookies," which are small files that the site places on your hard drive for identification purposes. These files are used for site registration and customization the next time you visit us.You should note that cookies cannot read data off of your hard drive. Your Web browser may allow you to be notified when you are receiving a cookie, giving you the choice to accept it or not. By not accepting cookies, some pages may not fully function and you may not be able to access certain information on this site.

This statement may change from time to time, so please check back periodically. If you have any concerns about how your information is being used or questions about PLOS' Privacy Statement, please contact <strong>plos [at] plos.org</strong>.
    </div>

  </div>
</div>
