<div class="content wrapper cf">
  <div class="static_content static_page">
    <h2 class="albert-light-normal">Sample ALM Report</h2>

<div>
With ALM Reports, you can create a report of the ALMs for a single or set of PLOS articles.
</div>

<div>
  You can view the metrics for each article added. 
  <%= image_tag "sample_report_metrics.png", :alt => 'Sample Report' %>
</div>

<div>
  From the articles selected, ALM Reports also provides a set of visualizations based on the summary data.
  <%= image_tag "sample_report_viz.png", :alt => 'Sample Report' %>
</div>

<div>
Each ALM report has an associated downloadable file, which can be used to further customized to suit your needs. This CSV file contains additional article information, including:
<ul>
  <li>DOI</li>
  <li>PMID</li>
  <li>Title</li>
  <li>Authors</li>
  <li>Author Affiliations</li>
  <li>Journal</li>
  <li>Publication Date</li>
  <li>Article Type</li>
</ul>
</div>

<div>
Create your own ALM report today with the latest data. For more instructions on how to use ALM Reports, visit the <a href="/about">About</a> page.
</div>

  </div>
</div>