<div class="content wrapper">
  <div class="static_content static_page">
    <h2 class="albert-light-normal">Sample ALM Report</h2>

<div>
With ALM Reports, you can create a report of the ALMs for a single or set of PLOS articles.  You can view a summary of the metrics along with an accompanying set of data visualizations.  For example, the following ALM report shows the April 17, 2013 results Oliver Zill; Devin Scannell; Leonid Teytelman; and Jasper Rine’s PLOS Biology paper, Co-evolution of Transcriptional Silencing Proteins and the DNA Elements Specifying Their Assembly. 
</div>
<div>TODO report image</div>
<div>TODO viz image</div>

<div>To view a sample ALM report containing a set of articles, browse the sample reports on the <a href="/">home page</a>.</div>

<div>
Each ALM report has an associated downloadable file, which can be used to further customize a view of the data to best suit your needs. This CSV file is an expanded version containing additional article information, including: 
<ul>
  <li>DOI</li>
  <li>PMID</li>
  <li>Title</li>
  <li>Corresponding Author First Name</li>
  <li>Corresponding Author Last Name</li>
  <li>Corresponding Author Institution</li>
  <li>Corresponding Author Country</li>
  <li>All authors</li>
  <li>All author affiliations</li>
  <li>Journal</li>
  <li>Publication Date</li>
  <li>Article Type</li>
  <li>Subject Area</li>
</ul>
</div>

<div>
Create your own ALM report today with the latest data.  For more instructions on how to use ALM Reports, visit the About [hyperlinked] page.
</div>

  </div>
</div>