<div class="content wrapper">

  <div class="static_content">
    <h2 class="albert-light-normal">Terms of Use</h2>
    
      <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porttitor, augue a scelerisque viverra, neque ipsum ultrices risus, quis facilisis sapien leo nec erat. Phasellus tincidunt, odio eu lacinia malesuada, erat magna blandit nulla, in dictum erat arcu quis metus. Maecenas augue elit, elementum consequat vehicula et, tincidunt quis augue. Vivamus ipsum mi, aliquet ut scelerisque sed, pulvinar non purus. Sed libero dolor, ullamcorper id tincidunt ac, luctus non dolor. Fusce adipiscing sem quis leo fermentum iaculis. Morbi arcu odio, iaculis in tristique vitae, consectetur id augue. Etiam sodales purus nec justo volutpat varius.

Duis non erat vitae lorem dictum aliquam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque mollis metus quis turpis elementum fringilla. Phasellus ut mauris et augue consequat aliquet non id ipsum. Phasellus non mi ac tortor placerat placerat. Aenean hendrerit metus ut sem feugiat euismod. Curabitur malesuada odio ac mauris vestibulum tristique a ut sem. Aliquam erat volutpat. Aliquam volutpat auctor nisi, quis scelerisque quam scelerisque at. Donec tellus velit, pretium id dictum vitae, pretium non sapien. Cras venenatis enim malesuada magna rhoncus et porttitor lorem ornare. Nunc interdum est in libero semper vel scelerisque diam mollis. Aenean nec tellus sit amet felis sollicitudin vestibulum at quis nisl.

Vivamus libero nulla, dictum quis hendrerit et, sagittis eu ligula. Quisque orci eros, congue sodales luctus nec, dapibus quis est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent ultrices gravida nibh ac pharetra. Sed cursus, elit sed aliquet sollicitudin, orci nisl blandit arcu, a vulputate dolor mi sollicitudin ligula. Maecenas vulputate dapibus odio a ultrices. Vivamus facilisis dictum felis, et luctus dolor malesuada et. Nullam facilisis eros at urna condimentum quis sollicitudin orci luctus.

Curabitur vel metus quis ante interdum tincidunt. Nunc sagittis odio non nisi congue vel semper nulla vehicula. Maecenas molestie porttitor semper. In nec libero est, eget pharetra diam. Nam non nisi eu enim condimentum bibendum. Ut accumsan condimentum imperdiet. Praesent consequat odio vitae turpis malesuada ultrices. Vestibulum dui odio, luctus et venenatis gravida, venenatis a purus. Morbi viverra posuere varius. Suspendisse id turpis sed sem suscipit iaculis sit amet non justo. Nullam dolor eros, pulvinar eget sollicitudin sed, condimentum id felis. Vivamus rhoncus viverra commodo.

Phasellus mollis risus enim. Donec ut augue vitae nunc mollis congue eget eget nisi. Aenean sit amet eros sem. Nunc ornare, ipsum at imperdiet consectetur, tellus lorem pretium neque, in egestas elit quam non nisi. Etiam pellentesque, quam vitae faucibus interdum, orci felis suscipit lectus, ut cursus diam sapien id mi. Sed varius feugiat lacus vitae auctor. Curabitur fringilla orci eu lectus posuere sed porttitor purus viverra. Pellentesque lacus lorem, posuere vel suscipit vel, porttitor id urna. Duis id mi cursus dolor scelerisque interdum. Nullam consequat odio quis tortor laoreet gravida a sed sapien. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean a turpis ipsum, sed luctus dui. Sed eget erat at urna vestibulum varius et ut est. Nulla convallis, turpis scelerisque imperdiet venenatis, felis est eleifend enim, id euismod ligula eros nec tellus. In rutrum pulvinar est sit amet bibendum. Nullam consequat porttitor posuere.      
    </p>
  </div>
</div>
