---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?filter=from-pub-date:2011,until-pub-date:2014,doi:10.1371/journal.pone.0113157,doi:10.1371/journal.pone.0114307,doi:10.1371/journal.pone.0114162&offset=0&rows=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":null,"start-index":0},"items-per-page":3,"items":[{"subtitle":[],"subject":["Agricultural
        and Biological Sciences(all)","Medicine(all)","Biochemistry, Genetics and
        Molecular Biology(all)"],"issued":{"date-parts":[[2014,12,3]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1371","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pone.corrections_policy","author":[{"family":"Klemetti","given":"Erik
        W."},{"family":"Clynne","given":"Michael A."}],"container-title":["PLoS ONE"],"reference-count":0,"page":"e113157","deposited":{"date-parts":[[2014,12,3]],"timestamp":1417564800000},"issue":"12","title":["Localized
        Rejuvenation of a Crystal Mush Recorded in Zircon Temporal and Compositional
        Variation at the Lassen Volcanic Center, Northern California"],"editor":[{"family":"Smith","given":"Victoria
        C."}],"type":"journal-article","DOI":"10.1371\/journal.pone.0113157","ISSN":["1932-6203"],"URL":"http:\/\/dx.doi.org\/10.1371\/journal.pone.0113157","source":"CrossRef","publisher":"Public
        Library of Science (PLoS)","indexed":{"date-parts":[[2014,12,6]],"timestamp":1417827224387},"volume":"9","member":"http:\/\/id.crossref.org\/member\/340"},{"subtitle":[],"subject":["Agricultural
        and Biological Sciences(all)","Medicine(all)","Biochemistry, Genetics and
        Molecular Biology(all)"],"issued":{"date-parts":[[2014,12,3]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1371","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pone.corrections_policy","author":[{"family":"Pomilla","given":"Cristina"},{"family":"Amaral","given":"Ana
        R."},{"family":"Collins","given[...]
