{
  "alm_report": {
           "rails_env": "development",
           "deploy_user": "vagrant",
           "db": { "password": "EXAMPLE" },
           "settings": {
             "url": "http://alm.plos.org",
             "api_key": "EXAMPLE"
           }
         }
}
