{
  "alm": { "rails_env": "development",
           "db": { "password": "EXAMPLE" },
           "settings": {
             "ip_range_uk": null,
             "ip_range_us": null
           }
         }
}
