{
  "ruby": {
    "rails_env": "production",
    "user": "vagrant",
    "db": { "password": "EXAMPLE" }
  },
  "alm_report": {
    "settings": {
      "url": "http://alm.plos.org",
      "api_key": "EXAMPLE"
    }
  }
}
