---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?filter=from-pub-date:2013-01-01&offset=0&query=biology&rows=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":"biology","start-index":0},"items-per-page":200,"items":[{"subtitle":[],"subject":["Medicine
        (miscellaneous)","Psychiatry and Mental health","Pharmacology"],"issued":{"date-parts":[[2014,1]]},"score":2.731941,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1111","container-title":["Addiction
        Biology"],"reference-count":0,"deposited":{"date-parts":[[2013,12,17]],"timestamp":1387238400000},"issue":"1","title":[],"type":"journal-issue","DOI":"10.1111\/adb.2014.19.issue-1","ISSN":["1355-6215"],"URL":"http:\/\/dx.doi.org\/10.1111\/adb.2014.19.issue-1","source":"CrossRef","publisher":"Wiley-Blackwell","indexed":{"date-parts":[[2014,9,9]],"timestamp":1410240644791},"volume":"19","member":"http:\/\/id.crossref.org\/member\/311"},{"subtitle":[],"subject":["Medicine
        (miscellaneous)","Psychiatry and Mental health","Pharmacology"],"issued":{"date-parts":[[2014,7]]},"score":2.731941,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1111","container-title":["Addiction
        Biology"],"reference-count":0,"deposited":{"date-parts":[[2014,7,10]],"timestamp":1404950400000},"issue":"4","title":[],"type":"journal-issue","DOI":"10.1111\/adb.2014.19.issue-4","ISSN":["1355-6215"],"URL":"[...]
- request:
    method: get
    uri: http://api.crossref.org/works?filter=from-pub-date:2013-01-01&offset=200&query=biology&rows=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":"biology","start-index":200},"items-per-page":200,"items":[{"subtitle":[],"subject":["Cell
        Biology"],"issued":{"date-parts":[[2014,1,15]]},"score":1.9517928,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1095","author":[{"family":"Schubert","given":"C."}],"container-title":["Biology
        of Reproduction"],"reference-count":0,"deposited":{"date-parts":[[2014,1,15]],"timestamp":1389744000000},"title":["WORLD
        OF REPRODUCTIVE BIOLOGY: Understanding the Ovarian Reserve"],"type":"journal-article","DOI":"10.1095\/biolreprod.114.117648","ISSN":["0006-3363","1529-7268"],"URL":"http:\/\/dx.doi.org\/10.1095\/biolreprod.114.117648","source":"CrossRef","publisher":"Society
        for the Study of Reproduction","indexed":{"date-parts":[[2014[...]
- request:
    method: get
    uri: http://api.crossref.org/works?filter=from-pub-date:2013-01-01&offset=400&query=biology&rows=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":"biology","start-index":400},"items-per-page":200,"items":[{"subtitle":[],"subject":["Radiology
        Nuclear Medicine and imaging","Biophysics","Radiological and Ultrasound Technology"],"issued":{"date-parts":[[2014,7]]},"score":1.821294,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1016","container-title":["Ultrasound
        in Medicine & Biology"],"reference-count":0,"page":"iii","deposited":{"date-parts":[[2014,6,9]],"timestamp":1402272000000},"issue":"7","title":["Editorial
        Advisory Board"],"type":"journal-article","DOI":"10.1016\/s0301-5629(14)00306-8","ISSN":["0301-5629"],"URL":"http:\/\/dx.doi.org\/10.1016\/s0301-5629(14)00306-8","source":"CrossRef","publisher":"Elsevier
        BV","indexed":{"date-parts":[[2014,9,8]],"timestamp":1410135907041},"volume":"40","member":"http:\/\/id.crossref.org\/member\/78"},{"subtitle":[],"subject":["Radiology
        Nuclear Medicine and imaging","Biophysics","Radiological and Ultrasound Technology"],"issued":{"date-parts":[[2014,7]]},"score":1.821294,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1016","container-title":["Ultrasound
        in Medicine & Biology"],"reference-count":0,"page":"v-viii","deposited":{"date-parts":[[2014,6,9]],"timestamp":1402272000000},"issue":"7","title":["Contents"],"type":"journal-article","DOI":"10.1016\/s0301-5629(14)00308-1","ISSN":["0301-5629"],"URL":"http:\/\/dx.doi.org\/10.1016\/s0301-5629(14)00308-1","source":"CrossRef","publisher":"Elsevier
        BV","indexed":{"date-parts":[[2014,9,8]],"timestamp":1410135907100},"volume":"40","member":"http:\/\/id.crossref.org\/member\/78"},{"subtitle":[],"subject":["Molecular
        Biology"],"license":[{"content-version":"tdm","delay-in-days":0,"start":{"date-parts":[[2014,7,1]],"timestamp":1404172800000},"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"issued":{"date-parts":[[2014,7]]},"link":[{"intended-application":"text-mining","content-version":"vor","content-type":"text\/xml","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0022283614002897?httpAccept=text\/xml"},{"intended-application":"text-mining","content-version":"vor","content-type":"text\/plain","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0022283614002897?httpAccept=text\/plain"}],"score":1.821294,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1016","container-title":["Journal
        of Molecular Biology"],"reference-count":0,"page":"IFC","deposited":{"date-parts":[[2014,7,7]][...]
[...]
- request:
    method: get
    uri: http://api.crossref.org/works?filter=from-pub-date:2013-01-01&offset=1000&query=biology&rows=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":"biology","start-index":1000},"items-per-page":200,"items":[{"subtitle":[],"issued":{"date-parts":[[2013,4,8]]},"score":1.821294,"prefix":"none","author":[{"family":"Heckmann","given":"Stefan"},{"family":"Houben","given":"Andreas"}],"container-title":["Plant
        Centromere Biology","Jiang\/Plant Centromere Biology"],"reference-count":98,"page":"83-94","deposited":{"date-parts":[[2013,5,6]],"timestamp":1367798400000},"title":["Holokinetic
        Centromeres"],"type":"book-chapter","DOI":"10.1002\/9781118525715.ch7","ISBN":["http:\/\/id.crossref.org\/isbn\/9781118525715","http:\/\/id.crossref.org\/isbn\/9781119949213"],"URL":"http:\/\/dx.doi.org\/10.1002\/9781118525715.ch7","source":"CrossRef","publisher":"Wiley-Blackwell","indexed":{"date-parts":[[2014,9,10]],"timestamp":1410328319383},"member":null},{"subtitle":[],"issued":{"date-parts":[[2013,4,8]]},"score":1.821294,"prefix":"none","container-title":["Plant
        Centromere Biology","Jiang\/Plant Centromere Biology"],"reference-count":0,"page":"193-210","depo[...]
