---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?filter=from-pub-date:2011,until-pub-date:2014&offset=0&query=biology&rows=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":"biology","start-index":0},"items-per-page":200,"items":[{"subtitle":[],"subject":["Medicine
        (miscellaneous)","Psychiatry and Mental health","Pharmacology"],"issued":{"date-parts":[[2014,1]]},"score":2.7319398,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1111","container-title":["Addiction
        Biology"],"reference-count":0,"deposited":{"date-parts":[[2013,12,17]],"timestamp":1387238400000},"issue":"1","title":[],"type":"journal-issue","DOI":"10.1111\/adb.2014.19.issue-1","ISSN":["1355-6215"],"URL":"http:\/\/dx.doi.org\/10.1111\/adb.2014.19.issue-1","source":"CrossRef","publisher":"Wiley-Blackwell","indexed":{"date-parts":[[2014,9,9]],"timestamp":1410240644791},"volume":"19","member":"http:\/\/id.crossref.org\/member\/311"},{"subtitle":[],"subject":["Medicine
        (miscellaneous)","Psychiatry and Mental health","Pharmacology"],"issued":{"date-parts":[[2014,7]]},"score":2.7319398,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1111","container-title":["Addiction
        Biology"],"reference-count":0,"deposited":{"date-parts":[[2014,7,10]],"timestamp":1404950400000},"issue":"4","title":[],"type":"journal-issue","DOI":"10.1111\/adb.2014.19.issue-4","ISSN":["1355-6215"],"URL":[...]
- request:
    method: get
    uri: http://api.crossref.org/works?filter=from-pub-date:2011,until-pub-date:2014&offset=200&query=biology&rows=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":"biology","start-index":200},"items-per-page":200,"items":[{"subtitle":[],"issued":{"date-parts":[[2012,2,17]]},"score":2.2537355,"prefix":"none","container-title":[],"reference-count":0,"deposited":{"date-parts":[[2012,4,3]],"timestamp":1333411200000},"title":["Chemical
        Biology"],"editor":[{"family":"Ekinci","given":"Deniz"}],"type":"book","DOI":"10.5772\/2625","ISBN":["http:\/\/id.crossref.org\/isbn\/978-953-51-0049-2"],"URL":"http:\/\/dx.doi.org\/10.5772\/2625","source":"CrossRef","publisher":"InTech","indexed":{"date-parts":[[2014,9,9]],"timestamp":1410285339305},"member":null},{"subtitle":[],"issued":{"date-parts":[[2011,7,14]]},"score":2.2537355,"prefix":"none","author":[{"family":"Auletta","given":"Gennaro"}],"container-title":[],"reference-count":0,"deposited":{"date-parts":[[2012,4,6]],"timestamp":1333670400000},"title":["Cognitive
        Biology"],"type":"monograph","DOI":"10.1093\/acprof:oso\/9780199608485.001.0001","ISBN":["http:\/\/id.crossref.org\/isbn\/9780199608485"],"URL":"http:\/\/dx.doi.org\/10.1093\/acprof:oso\/9780199608485.001.0001","source":"CrossRef","publisher":"Oxford
        University Press","indexed":{"date-parts":[[2014,9,9]],"timestamp[...]
[...]
- request:
    method: get
    uri: http://api.crossref.org/works?filter=from-pub-date:2011,until-pub-date:2014&offset=1200&query=biology&rows=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":"biology","start-index":1200},"items-per-page":200,"items":[{"subtitle":[],"subject":["Microbiology","Insect
        Science","Soil Science"],"issued":{"date-parts":[[2012,3]]},"score":1.8212932,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1016","container-title":["European
        Journal of Soil Biology"],"reference-count":0,"page":"IFC","deposited":{"date-parts":[[2012,3,9]],"timestamp":1331251200000},"title":["Editorial
        Board"],"type":"journal-article","DOI":"10.1016\/s1164-5563(12)00015-5","ISSN":["1164-5563"],"URL":"http:\/\/dx.doi.org\/10.1016\/s1164-5563(12)00015-5","source":"CrossRef","publisher":"Elsevier
        BV","indexed":{"date-parts":[[2014,9,6]],"timestamp":1409978627519},"volume":"49","member":"http:\/\/id.crossref.org\/member\/78"},{"subtitle":[],"subject":["Structural
        Biology","Organic Ch[...]
