---
http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?facet=false&fl=id,pmid,publication_date,received_date,accepted_date,title,cross_published_journal_name,author_display,editor_display,article_type,affiliate,subject,financial_disclosure&fq=!article_type_facet:%22Issue%20Image%22&fq=doc_type:full&hl=false&q=id:10.1371/journal.pcbi.1002727&rows=25&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Wed, 10 Dec 2014 13:46:33 GMT
      Etag:
      - '"NTFjOTAwMDAwMDAwMDAwU29scg=="'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":1,"start":0,"docs":[{"id":"10.1371/journal.pcbi.1002727","cross_published_journal_name":["PLOS Computational Biology"],"pmid":"23055917","subject":["/Biology and life sciences/Computational biology","/People and places/Population groupings/Professions/Biologists","/Ecology and environmental sciences/Ecology/Biodiversity","/Biology and life sciences/Ecology/Biodiversity","/Social sciences/Sociology/Families and family members/Human families"],"publication_date":"2012-10-04T00:00:00Z","article_type":"Editorial","author_display":["Ruth Nussinov"],"affiliate":["Basic Science Program, SAIC-Frederick, Inc., Center for Cancer Research Nanobiology Program, Frederick National Laboratory for Cancer Research, National Cancer Institute, Frederick, Maryland, United States of America","Sackler Institute of Molecular Medicine, Department of Human Genetics and Molecular Medicine, Sackler School of Medicine, Tel Aviv University, Tel Aviv, Israel"],"financial_disclosure":"The author received no specific funding for writing this article.","title":"A Future Vision for PLOS Computational Biology"}]}}
  recorded_at: Wed, 10 Dec 2014 13:47:33 GMT
recorded_with: VCR 2.9.3
