---
http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?facet=false&fl=id,pmid,publication_date,received_date,accepted_date,title,cross_published_journal_name,author_display,editor_display,article_type,affiliate,subject,financial_disclosure&fq=!article_type_facet:%22Issue%20Image%22&fq=doc_type:full&hl=false&q=id:10.1371/journal.pbio.1001046&rows=25&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 23 Dec 2014 12:46:14 GMT
      Etag:
      - '"ZmI1YmIwMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":1,"start":0,"docs":[{"id":"10.1371/journal.pbio.1001046","cross_published_journal_name":["PLOS Biology"],"pmid":"","subject":["/Biology and life sciences/Molecular biology/Molecular biology techniques/Sequencing techniques/RNA sequencing","/Biology and life sciences/Genetics/Epigenetics/Chromatin/Chromatin modification/DNA methylation","/Biology and life sciences/Genetics/Genomics/Genome analysis/Genomic databases","/Biology and life sciences/Genetics/Genomics/Genome analysis","/Biology and life sciences/Genetics/Gene expression/Chromatin","/Biology and life sciences/Genetics/Gene expression/Chromatin/Chromatin modifi[...]
