---
http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?facet=false&fl=id,pmid,publication_date,received_date,accepted_date,title,cross_published_journal_name,author_display,editor_display,article_type,affiliate,subject,financial_disclosure&fq=!article_type_facet:%22Issue%20Image%22&fq=doc_type:full&hl=false&q=id:10.1371/journal.pbio.0050082&rows=25&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 16 Dec 2014 09:25:46 GMT
      Etag:
      - '"ZjM5YWQwMDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":1,"start":0,"docs":[{"id":"10.1371/journal.pbio.0050082","cross_published_journal_name":["PLOS Collections","PLOS Biology"],"pmid":"17355177","subject":["/Biology and life sciences/Computational biology/Comparative genomics","/Biology and life sciences/Biochemistry/Ribosomes/Ribosomal RNA","/Biology and life sciences/Genetics/Genomics/Genome evolution","/Research and analysis methods/Molecular biology techniques/Sequencing techniques/Sequence analysis/Sequence databases","/Biology and life sciences/Biochemistry/Nucleic acids/RNA/Non-coding RNA/Ribosomal RNA","/Biology and life sciences/Molecular biology/Molecular biology techniques/Sequencing t[...]
