<div class="content wrapper">
  <form class="doi-pmid-form">
    <h2 class="albert-light-normal">Find Articles by DOI/PMID</h2>
    <div class="input-holder">
      <label for="doi-pmid-1">DOI/PMID</label>
      <div>
        <input type="text" name="" value="" id="doi-pmid-1" />
        <p class="input-example">ex. doi:10.1111/j.1744-6155.2006.00040.xo 12345678</p>
      </div>
    </div>
    <div class="input-holder">
      <label for="doi-pmid-2">DOI/PMID</label>
      <div>
        <input type="text" name="" value="" id="doi-pmid-2" />
      </div>
    </div>
    <div class="input-holder">
      <label for="doi-pmid-3">DOI/PMID</label>
      <div>
        <input type="text" name="" value="" id="doi-pmid-3" />
      </div>
    </div>
    <div class="input-holder">
      <label for="doi-pmid-4">DOI/PMID</label>
      <div>
        <input type="text" name="" value="" id="doi-pmid-4" />
      </div>
    </div>
    <div class="input-holder">
      <label for="doi-pmid-5">DOI/PMID</label>
      <div>
        <input type="text" name="" value="" id="doi-pmid-5" />
      </div>
    </div>
    <div class="input-holder">
      <label for="doi-pmid-6">DOI/PMID</label>
      <div>
        <input type="text" name="" value="" id="doi-pmid-6" />
      </div>
    </div>
    <div class="input-holder">
      <label for="doi-pmid-7">DOI/PMID</label>
      <div>
        <input type="text" name="" value="" id="doi-pmid-7" />
      </div>
    </div>
    <div class="input-holder">
      <label for="doi-pmid-8">DOI/PMID</label>
      <div>
        <input type="text" name="" value="" id="doi-pmid-8" />
      </div>
    </div>
    <div class="input-holder">
      <input class="button-hover-dark-black submit-btn add-to-list-btn" type="submit" value="Add to My List" />
      <input id="add-fields" class="button-hover-dark-blue submit-btn add-more-fields-btn" type="submit" value="Add More Fields" />
    </div>
  </form>
</div>
