---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?filter=from-pub-date:2011,until-pub-date:2014,doi:10.1371/journal.pcbi.1002727&offset=0&rows=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":null,"start-index":0},"items-per-page":1,"items":[{"subtitle":[],"subject":["Molecular
        Biology","Computational Theory and Mathematics","Ecology, Evolution, Behavior
        and Systematics","Modelling and Simulation","Cellular and Molecular Neuroscience","Ecology","Genetics"],"issued":{"date-parts":[[2012,10,4]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1371","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pcbi.corrections_policy","author":[{"family":"Nussinov","given":"Ruth"}],"container-title":["PLoS
        Computational Biology","PLoS Comput Biol"],"reference-count":0,"page":"e1002727","deposited":{"date-parts":[[2014,3,7]],"timestamp":1394150400000},"issue":"10","title":["A
        Future Vision for PLOS Computational Biology"],"type":"journal-article","DOI":"10.1371\/journal.pcbi.1002727","ISSN":["1553-7358"],"URL":"http:\/\/dx.doi.org\/10.1371\/journal.pcbi.1002727","source":"CrossRef","publisher":"Public
        Library of Science (PLoS)","indexed":{"date-parts":[[2014,9,10]],"timestamp":1410327769438},"volume":"8","member":"http:\/\/id.crossref.org\/member\/340"}],"total-results":1,"facets":{}}}'
  recorded_at: Wed, 10 Dec 2014 13:43:24 GMT
recorded_with: VCR 2.9.3
