---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?facet=t&filter=from-pub-date:2011,until-pub-date:2014,doi:10.1371/journal.pcbi.1002727&offset=0&rows=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":null,"start-index":0},"items-per-page":1,"items":[{"subtitle":[],"subject":["Molecular
        Biology","Computational Theory and Mathematics","Ecology, Evolution, Behavior
        and Systematics","Modelling and Simulation","Cellular and Molecular Neuroscience","Ecology","Genetics"],"issued":{"date-parts":[[2012,10,4]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1371","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pcbi.corrections_policy","author":[{"family":"Nussinov","given":"Ruth"}],"container-title":["PLoS
        Computational Biology","PLoS Comput Biol"],"reference-count":0,"page":"e1002727","deposited":{"date-parts":[[2014,3,7]],"timestamp":1394150400000},"issue":"10","title":["A
        Future Vision for PLOS Computational Biology"],"type":"journal-article","DOI":"10.1371\/journal.pcbi.1002727","ISSN":["1553-7358"],"URL":"http:\/\/dx.doi.org\/10.1371\/journal.pcbi.1002727","source":"CrossRef","publisher":"Public
        Library of Science (PLoS)","indexed":{"date-parts":[[2014,9,10]],"timestamp":1410327769438},"volume":"8","member":"http:\/\/id.crossref.org\/member\/340"}],"total-results":1,"facets":{"license":{"value-count":0,"values":{}},"archive":{"value-count":0,"values":{}},"funder-doi":{"value-count":0,"values":{}},"issn":{"value-count":1,"values":{"http:\/\/id.crossref.org\/issn\/1553-7358":1}},"funder-name":{"value-count":0,"values":{}},"container-title":{"value-count":2,"values":{"PLoS
        Computational Biology":1,"PLoS Comput Biol":1}},"published":{"value-count":1,"values":{"2012":1}},"category-name":{"value-count":7,"values":{"Molecular
        Biology":1,"Modelling and Simulation":1,"Genetics":1,"Ecology, Evolution,
        Behavior and Systematics":1,"Ecology":1,"Computational Theory and Mathematics":1,"Cellular
        and Molecular Neuroscience":1}},"source":{"value-count":1,"values":{"CrossRef":1}},"orcid":{"value-count":0,"values":{}},"publisher-name":{"value-count":1,"values":{"Public
        Library of Science (PLoS)":1}},"type-name":{"value-count":1,"values":{"Journal
        Article":1}},"update-type":{"value-count":0,"values":{}}}}}'
  recorded_at: Tue, 30 Dec 2014 21:41:14 GMT
recorded_with: VCR 2.9.3
