---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?filter=from-pub-date:2011,until-pub-date:2014,doi:10.1371/journal.pbio.1001046&offset=0&rows=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":null,"start-index":0},"items-per-page":1,"items":[{"subtitle":[],"subject":["Immunology
        and Microbiology(all)","Agricultural and Biological Sciences(all)","Neuroscience(all)","Biochemistry,
        Genetics and Molecular Biology(all)"],"issued":{"date-parts":[[2011,4,19]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1371","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pbio.corrections_policy","container-title":["PLoS
        Biol","PLoS Biology"],"reference-count":0,"page":"e1001046","deposited":{"date-parts":[[2014,3,6]],"timestamp":1394064000000},"issue":"4","title":["A
        User''s Guide to the Encyclopedia of DNA Elements (ENCODE)"],"editor":[{"family":"Becker","given":"Peter
        B."}],"type":"journal-article","DOI":"10.1371\/journal.pbio.1001046","ISSN":["1545-7885"],"URL":"http:\/\/dx.doi.org\/10.1371\/journal.pbio.1001046","source":"CrossRef","publisher":"Public
        Library of Science (PLoS)","indexed":{"date-parts":[[2014,9,10]],"timestamp":1410319140367},"volume":"9","member":"http:\/\/id.crossref.org\/member\/340"}],"total-results":1,"facets":{}}}'
  recorded_at: Tue, 23 Dec 2014 12:27:41 GMT
recorded_with: VCR 2.9.3
