---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?facet=t&filter=from-pub-date:2011,until-pub-date:2014&offset=0&query=cancer&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":"cancer","start-index":0},"items-per-page":25,"items":[{"subtitle":[],"subject":["Oncology","Cancer
        Research"],"issued":{"date-parts":[[2013,6]]},"score":3.7230728,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1002","container-title":["Cancer"],"reference-count":0,"deposited":{"date-parts":[[2013,6,13]],"timestamp":1371081600000},"title":[],"type":"journal-issue","DOI":"10.1002\/cncr.v00.00","ISSN":["0008-543X"],"URL":"http:\/\/dx.doi.org\/10.1002\/cncr.v00.00","source":"CrossRef","publisher":"Wiley-Blackwell","indexed":{"date-parts":[[2014,5,22]],"timestamp":1400763187936},"member":"http:\/\/id.crossref.org\/member\/311"},{"subtitle":[],"subject":["Oncology","Cancer
        Research"],"issued":{"date-parts":[[2013,6,1]]},"score":3.7230728,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1002","container-title":["Cancer"],"reference-count":0,"deposited":{"date-parts":[[2013,5,20]],"timestamp":1369008000000},"title":[],"type":"journal-issue","DOI":"10.1002\/cncr.v119.s11","ISSN":["0008-543X"],"URL":"http:\/\/dx.doi.org\/10.1002\/cncr.v119.s11","source":"CrossRef","publisher":"Wiley-Blackwell","indexed":{"date-parts":[[2014,9,7]],"timestamp":1410119471048},"volume":"119","member":"http:\/\/id.crossref.org\/member\/311"},{"subtitle":[],"subject":["Oncology","Cancer
        Research"],"issued":{"date-parts":[[2014,4,1]]},"score":3.7230728,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1002","container-title":["Cancer"],"reference-count":0,"deposited":{"date-parts":[[2014,3,18]],"timestamp":1395100800000},"title":[],"type":"journal-issue","DOI":"10.1002\/cncr.v120.s7","ISSN":["0008-543X"],"URL":"http:\/\/dx.doi.org\/10.1002\/cncr.v120.s7","source":"CrossRef",[...]
