
<div class="content wrapper">

  <div class="preview-list">
    <form class="preview-form" action="/preview-list" method="get">
      <h2 class="albert-light-normal">Review your list of articles</h2>
      <p><%= @start_result %>-<%= @end_result %> of <%= @total_found %> articles</p>
      <% @articles_checked = true %>
      <%= render "article_list" %>
      <div class="input-list">
        <input class="button-hover-dark-black submit-btn update-list-btn" type="submit"
            value="Update List" onClick="window.location.href='/preview-list'; return false;" />
        <input class="reset-btn" type="reset" value="Clear All" />
      </div>
    </form>
  </div>

  <div class="preview-list-aside aside-container rollover-fixed">
    <form class="preview-list-aside-form" action="/reports/generate" method="get">
      <input class="button-hover-dark-black submit-btn right-list-btn" type="submit" value="Create Report" />
      <span class="btn-arrow"></span>
    </form>
    <p class="albert-light-normal">Add more articles</p>
    <ul class="add-article-links">
      <li><a href="/" class="article-links">Search Again</a></li>
      <li><a href="/id/" class="article-links">By DOI/PMID</a></li>
      <li><a href="/upload" class="article-links">Upload File</a></li>
    </ul>
  </div>

</div>
