
<div class="content wrapper cf">

  <div class="preview-list">
    <form class="preview-form" action="/preview-list" method="get">
      <h2 class="albert-light-normal">Review your list of articles</h2>
      <p><%= @start_result %>-<%= @end_result %> of <%= @total_found %> articles</p>

      <ul>
        <li class="unselect-all-articles-link">Clear All </li>
      </ul>
      <p class="select-articles-message albert-light-normal invisible">
        <span id="select-articles-message-text"></span>
        <span id="select-all-articles-message-text"></span>
      </p>

      <% @articles_checked = true %>
      <%= render "article_list" %>
    </form>
  </div>

  <div class="preview-list-aside aside-container rollover-fixed">
    <form class="preview-list-aside-form" action="/reports/generate" method="get">
      <input id="create-report-submit" class="button-hover-dark-black submit-btn right-list-btn" type="submit" value="Create Report" />
      <span class="btn-arrow"></span>
    </form>
    <p class="albert-light-normal">Add more articles</p>
    <ul class="add-article-links">
      <li><a href="/" class="article-links">Search Again</a></li>
      <li><a href="/id/" class="article-links">By DOI/PMID</a></li>
      <li><a href="/upload" class="article-links">Upload File</a></li>
    </ul>
  </div>

</div>
