---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?filter=from-pub-date:2011,until-pub-date:2014,doi:10.1371/journal.pone.0061406&offset=0&rows=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":null,"start-index":0},"items-per-page":1,"items":[{"subtitle":[],"subject":["Agricultural
        and Biological Sciences(all)","Medicine(all)","Biochemistry, Genetics and
        Molecular Biology(all)"],"issued":{"date-parts":[[2013,4,11]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1371","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pone.corrections_policy","author":[{"family":"Venit","given":"Tom\u00e1\u0161"},{"family":"Dzijak","given":"Rastislav"},{"family":"Kalendov\u00e1","given":"Al\u017eb\u011bta"},{"family":"Kahle","given":"Michal"},{"family":"Roho\u017ekov\u00e1","given":"Jana"},{"family":"Schmidt","given":"Volker"},{"family":"R\u00fclicke","given":"Thomas"},{"family":"Rathkolb","given":"Birgit"},{"family":"Hans","given":"Wolfgang"},{"family":"Bohla","given":"Alexander"},{"family":"Eickelberg","given":"Oliver"},{"family":"Stoeger","given":"Tobias"},{"family":"Wolf","given":"Eckhard"},{"family":"Yildirim","given":"Ali
        \u00d6nder"},{"family":"Gailus-Durner","given":"Val\u00e9rie"},{"family":"Fuchs","given":"Helmut"},{"family":"de
        Angelis","given":"Martin Hrab\u011b"},{"family":"Hoz\u00e1k","given":"Pavel"}],"container-title":["PLoS
        ONE"],"reference-count":0,"page":"e61406","deposited":{"date-parts":[[2014,3,5]],"timestamp":1393977600000},"issue":"4","title":["Mouse
        Nuclear Myosin I Knock-Out Shows Interchangeability and Redundancy of Myosin
        Isoforms in the Cell Nucleus"],"editor":[{"family":"Van Wijnen","given":"Andre"}],"type":"journal-article","DOI":"10.1371\/journal.pone.0061406","ISSN":["1932-6203"],"URL":"http:\/\/dx.doi.org\/10.1371\/journal.pone.0061406","source":"CrossRef","publisher":"Public
        Library of Science (PLoS)","indexed":{"date-parts":[[2014,9,9]],"timestamp":1410306451424},"volume":"8","member":"http:\/\/id.crossref.org\/member\/340"}],"total-results":1,"facets":{}}}'
  recorded_at: Tue, 23 Dec 2014 12:08:32 GMT
recorded_with: VCR 2.9.3
