---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?facet=t&filter=from-pub-date:2011,until-pub-date:2014,doi:10.1371/journal.pone.0113157&offset=0&rows=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":null,"start-index":0},"items-per-page":1,"items":[{"subtitle":[],"subject":["Agricultural
        and Biological Sciences(all)","Medicine(all)","Biochemistry, Genetics and
        Molecular Biology(all)"],"issued":{"date-parts":[[2014,12,3]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1371","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pone.corrections_policy","author":[{"family":"Klemetti","given":"Erik
        W."},{"family":"Clynne","given":"Michael A."}],"container-title":["PLoS ONE"],"reference-count":0,"page":"e113157","deposited":{"date-parts":[[2014,12,3]],"timestamp":1417564800000},"issue":"12","title":["Localized
        Rejuvenation of a Crystal Mush Recorded in Zircon Temporal and Compositional
        Variation at the Lassen Volcanic Center, Northern California"],"editor":[{"family":"Smith","given":"Victoria
        C."}],"type":"journal-article","DOI":"10.1371\/journal.pone.0113157","ISSN":["1932-6203"],"URL":"http:\/\/dx.doi.org\/10.1371\/journal.pone.0113157","source":"CrossRef","publisher":"Public
        Library of Science (PLoS)","indexed":{"date-parts":[[2014,12,6]],"timestamp":1417827224387},"volume":"9","member":"http:\/\/id.crossref.org\/member\/340"}],"total-results":1,"facets":{"license":{"value-count":0,"values":{}},"archive":{"value-count":0,"values":{}},"funder-doi":{"value-count":0,"values":{}},"issn":{"value-count":1,"values":{"http:\/\/id.crossref.org\/issn\/1932-6203":1}},"funder-name":{"value-count":0,"values":{}},"container-title":{"value-count":1,"values":{"PLoS
        ONE":1}},"published":{"value-count":1,"values":{"2014":1}},"category-name":{"value-count":3,"values":{"Medicine(all)":1,"Biochemistry,
        Genetics and Molecular Biology(all)":1,"Agricultural and Biological Sciences(all)":1}},"source":{"value-count":1,"values":{"CrossRef":1}},"orcid":{"value-count":0,"values":{}},"publisher-name":{"value-count":1,"values":{"Public
        Library of Science (PLoS)":1}},"type-name":{"value-count":1,"values":{"Journal
        Article":1}},"update-type":{"value-count":0,"values":{}}}}}'
  recorded_at: Tue, 30 Dec 2014 21:41:15 GMT
[...]
- request:
    method: get
    uri: http://api.plos.org/search?facet=false&fl=id,publication_date,pmid&fq=!article_type_facet:%22Issue%20Image%22&fq=doc_type:full&q=pmid:%2220552018%22%20OR%20pmid:%2220436915%22%20OR%20pmid:%2220436906%22%20OR%20pmid:%2220436680%22%20OR%20pmid:%2220224736%22&rows=5&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 30 Dec 2014 21:40:49 GMT
      Etag:
      - '"NDVlNzA4MDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":5,"start":0,"docs":[{"id":"10.1371/journal.pone.0010356","pmid":"20436915","publication_date":"2010-04-27T00:00:00Z"},{"id":"10.1371/journal.pone.0010363","pmid":"20436906","publication_date":"2010-04-27T00:00:00Z"},{"id":"10.1371/journal.pone.0010310","pmid":"20436680","publication_date":"2010-04-26T00:00:00Z"},{"id":"10.1371/journal.pone.0011070","pmid":"20552018","publication_date":"2010-06-11T00:00:00Z"},{"id":"10.1371/journal.pone.0009632","pmid":"20224736","publication_date":"2010-03-10T00:00:00Z"}]}}
  recorded_at: Tue, 30 Dec 2014 21:41:16 GMT
recorded_with: VCR 2.9.3
