<div class="bubble chart"></div>

<p class="info">Select an additional source: {{view "select" content=axes selection=axis optionValuePath="content.key" optionLabelPath="content.display"}}</p>
<p>SOURCE: {{size}} published articles from {{minDate}} to {{maxDate}}</p>
