<% image_tag 'mrbubble.png', width: 100 %>

<div class="chart"></div>

<p class="info">Select your source: {{view "select" content=axes value=axis optionValuePath="content.key" optionLabelPath="content.display"}}</p>
<p>SOURCE: {{size}} published articles from {{minDate}} to {{maxDate}}</p>
