<div class="sunburst chart"></div>
<div id="sequence"></div>
<p class="info">
  Sunburst size correlates with total views from {{ items.length }} works. Color intensity correlates with Scopus citation count. Clicking on a subject area will zoom into its component subject areas. Clicking the center of the circle will zoom out to a more general view.
</p>
