<div class="sunburst chart"></div>
<div id="sequence"></div>
<p class="info">
  Sunburst size correlates with total views from {{ items.length }} articles. Color intensity correlates with number of Scopus citations.
</p>
