---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?facet=t&filter=from-pub-date:2011,until-pub-date:2015&offset=0&query=cancer&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":"cancer","start-index":0},"items-per-page":25,"items":[{"indexed":{"date-parts":[[2015,6,9]],"timestamp":1433814273790},"reference-count":0,"publisher":"Wiley-Blackwell","DOI":"10.1002\/cncr.v120.s7","type":"journal-issue","source":"CrossRef","title":[],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1002","volume":"120","member":"http:\/\/id.crossref.org\/member\/311","container-title":["Cancer"],"deposited":{"date-parts":[[2014,3,18]],"timestamp":1395100800000},"score":3.7299314,"subtitle":[],"issued":{"date-parts":[[2014,4,1]]},"URL":"http:\/\/dx.doi.org\/10.1002\/cncr.v120.s7","ISSN":["0008-543X"],"subject":["Oncology","Cancer
        Research"]},{"indexed":{"date-parts":[[2015,6,8]],"timestamp":1433757434115},"reference-count":0,"publisher":"Wiley-Blackwell","DOI":"10.1002\/cncr.v119.s11","type":"journal-issue","source":"CrossRef","title":[],"prefix":"http:\/\/id.crossref.org\/prefix\/10.1002","volume":"119","member":"http:\/\/id.crossref.org\/member\/311","container-title":["Cancer"],"deposited":{"date-parts":[[2013,5,20]],"timestamp":1369008000000},"score":3.7299314,"subtitle":[],"issued":{"date[...]
