---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?filter=from-pub-date:2011,until-pub-date:2014,doi:10.1371/journal.pone.0010031&offset=0&rows=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":null,"start-index":0},"items-per-page":1,"items":[],"total-results":0,"facets":{}}}'
  recorded_at: Wed, 10 Dec 2014 13:43:07 GMT
recorded_with: VCR 2.9.3
