---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?facet=t&filter=from-pub-date:2011,until-pub-date:2014&offset=0&query=cancer&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":"cancer","start-index":0},"items-per-page":25,"items":[{"subtitle":[],"subject":["Oncology","Cancer
        Research"],"issued":{"date-parts":[[2013,6]]},"score":3.7230728,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1002","container-title":["Cancer"],"reference-count":0,"deposited":{"date-parts":[[2013,6,13]],"timestamp":1371081600000},"title":[],"type":"journal-issue","DOI":"10.1002\/cncr.v00.00","ISSN":["0008-543X"],"URL":"http:\/\/dx.doi.org\/10.1002\/cncr.v00.00","source":"CrossRef","publisher":"Wiley-Blackwell","indexed":{"date-parts":[[2014,5,22]],"timestamp":1400763187936},"member":"http:\/\/id.crossref.org\/member\/311"},{"subtitle":[],"subject":["Oncology","Cancer
        Research"],"issued":{"date-parts":[[2013,6,1]]},"score":3.7230728,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1002","container-title":["Cancer"],"reference-count":0,"deposited":{"date-parts":[[2013,5,20]],"timestamp":1369008000000},"title":[],"type":"journal-issue","DOI":"10.1002\/cncr.v119.s11","ISSN":["0008-543X"],"URL":"http:\/\/dx.doi.org\/10.1002\/cncr.v119.s11","source":"CrossRef","publisher":"Wiley-Blackwell","indexed":{"date-parts":[[2014,9,7]],"timestamp":1410119471048},"volume":"119","member":"http:\/\/id.crossref.org\/member\/311"},{"subtitle":[],"subject":["Oncology","Cancer
        Research"],"issued":{"date-parts":[[2014,4,1]]},"score":3.7230728,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1002","container-title":["Cancer"],"reference-count":0,"deposited":{"date-parts":[[2014,3,18]],"timestamp":1395100800000},"title":[],"type":"journal-issue","DOI":"10.1002\/cncr.v120.s7","ISSN":["0008-543X"],"URL":"http:\/\/dx.doi.org\/10.1002\/cncr.v120.s7","source":"CrossRef",[...]
[...]
- request:
    method: get
    uri: http://api.crossref.org/works?facet=t&filter=from-pub-date:2014,until-pub-date:2014,publisher-name:Elsevier%20BV&offset=0&query=cancer&rows=25
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":"cancer","start-index":0},"items-per-page":25,"items":[{"subtitle":[],"subject":["Oncology","Pulmonary
        and Respiratory Medicine","Cancer Research"],"issued":{"date-parts":[[2014,1]]},"score":2.3269205,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1016","container-title":["Lung
        Cancer"],"reference-count":0,"page":"iii","deposited":{"date-parts":[[2014,3,22]],"timestamp":1395446400000},"title":["Editorial
        Board"],"type":"journal-article","DOI":"10.1016\/s0169-5002(14)00039-7","ISSN":["0169-5002"],"URL":"http:\/\/dx.doi.org\/10.1016\/s0169-5002(14)00039-7","source":"CrossRef","publisher":"Elsevier
        BV","indexed":{"date-parts":[[2014,9,10]],"timestamp":1410329825942},"volume":"83","member":"http:\/\/id.crossref.org\/member\/78"},{"subtitle":[],"subject":["Oncology","Cancer
        Research"],"issued":{"date-parts":[[2014,3]]},"score":2.2799072,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1016","container-title":["European
        Journal of Cancer"],"reference-count":0,"page":"S107-S108","deposited":{"date-parts":[[2014,3,21]],"timestamp":1395360000000},"title":["Hereditary
        Breast Cancer"],"type":"journal-article","DOI":"10.1016\/s0959-8049(14)70089-9","ISSN":["0959-8049"],"URL":"http:\/\/dx.doi.org\/10.1016\/s0959-8049(14)70089-9","source":"CrossRef","publisher":"Elsevier
        BV","indexed":{"date-parts":[[2014,9,10]],"timestamp":1410326590380},"volume":"50","member":"http:\/\/id.crossref.org\/member\/78"},{"subtitle":[],"subject":["Oncology","Radiology
        Nuclear Medicine and imaging"],"license":[{"content-version":"tdm","delay-in-days":0,"start":{"date-parts":[[2014,12,1]],"timestamp":1417392000000},"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"issued":{"date-parts":[[2014,12]]},"link":[{"intended-application":"text-mining","content-version":"vor","content-type":"text\/xml","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S1278321814003655?httpAccept=text\/xml"},{"intended-application":"text-mining","content-version":"vor","content-type":"text\/plain","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S1278321814003655?httpAccept=text\/plain"}],"score":2.2799072,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1016","container-title":["Cancer\/Radioth\u00e9rapie"],"reference-count":0,"page":"807","deposited":{"date-parts":[[2014,12,2]],"timestamp":1417478400000},"issue":"8","title":["Relecteurs
        2014 pour Cancer Radioth\u00e9rapie"],"type":"journal-article","DOI":"10.1016\/j.canrad.2014.10.004","ISSN":["1278-3218"],"URL":"http:\/\/dx.doi.org\/10.1016\/j.canrad.2014.10.004","source":"CrossRef","publisher":"Elsevier
        BV","indexed":{"date-parts":[[2014,12,5]],"timestamp":1417739930725},"volume":"18","member":"http:\/\/id.crossref.org\/member\/78"},{"subtitle":[],"subject":["Oncology","Cancer
        Research"],"license":[{"content-version":"tdm","delay-in-days":0,"start":{"date-parts":[[2014,7,1]],"timestamp":1404172800000},"URL":"http:\/\/www.elsevier.com\/tdm\/userlicense\/1.0\/"}],"issued":{"date-parts":[[2014,7]]},"link":[{"intended-application":"text-mining","content-version":"vor","content-type":"text\/xml","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0959804914500263?httpAccept=text\/xml"},{"intended-application":"text-mining","content-version":"vor","content-type":"text\/plain","URL":"http:\/\/api.elsevier.com\/content\/article\/PII:S0959804914500263?httpAccept=text\/plain"}],"score":1.9949188,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1016","author":[{"family":"Cuzick","given":"J."}],"container-title":["European
        Journal of Cancer"],"reference-count":0,"page":"S7","deposited":{"date-parts":[[2014,7,4]],"timestamp":1404432000000},"title":["26:
        Progress in breast cancer prevention"],"type":"journal-article","DOI":"10.1016\/s0959-8049(14)50026-3","ISSN":["0959-8049"],"URL":"http:\/\/dx.doi.org\/10.1016\/s0959-8049(14)50026-3","source":"CrossRef","publisher":"Elsevier
        BV","indexed":{"date-parts":[[2014,9,8]],"timestamp":1410151543614},"volume":"50",[...]
- request:
    method: get
    uri: http://alm.plos.org/api/v3/articles?api_key=<API_KEY>&ids=10.1016/s0169-5002(14)00039-7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"error":"Article not found."}'
  recorded_at: Wed, 31 Dec 2014 11:58:48 GMT
recorded_with: VCR 2.9.3
