<div class="visualizations-list">
  <div class="reports-header-div">
    <span class="list-numbers">1</span>
    <h2 class="text-light-normal">Article Usage as a Function of Age</h2>
    <br>
    {{#if single}}
      {{ line-chart items=items width=870 height=400 }}
    {{else}}
      {{ bubble-chart items=items width=870 height=400}}
    {{/if}}
    <br>
  </div>
</div>
