<div class="visualizations-list">
  <div class="reports-header-div">
    <span class="list-numbers">1</span>
    <h2 class="text-light-normal">Article Usage and Citations as a function of Age</h2>
    {{ bubble-chart items=items }}
  </div>
</div>
