---
http_interactions:
- request:
    method: get
    uri: http://api.plos.org/search?facet=true&facet.date=publication_date&facet.date.end=NOW&facet.date.gap=%2B1YEAR&facet.date.start=2000-01-01T00:00:00Z&facet.field=article_type&facet.field=journal&facet.field=publication_date&fl=id,pmid,publication_date,received_date,accepted_date,title,cross_published_journal_name,author_display,editor_display,article_type,affiliate,subject,financial_disclosure&fq=!article_type_facet:%22Issue%20Image%22&fq=doc_type:full&hl=false&q=affiliate:%22University%20of%20California%22%20AND%20author:Garmay%20AND%20everything:word%20AND%20subject:%22Gene%20regulation%22&rows=25&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 30 Dec 2014 20:28:25 GMT
      Etag:
      - '"NDcwNzA4MDAwMDAwMDAwMFNvbHI="'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {"response":{"numFound":1,"start":0,"docs":[{"id":"10.1371/journal.pone.0006901","cross_published_journal_name":["PLOS ONE"],"pmid":"","subject":["/Research and analysis methods/Molecular biology techniques/Sequencing techniques/Sequence analysis","/Biology and life sciences/Genetics/Genomics/Genome evolution","/Biology and life sciences/Genetics/Genomics/Genome analysis/Genomic databases","/Research and analysis methods/Molecular biology techniques/Sequencing techniques/Sequence analysis/Sequence alignment","/Biology and life sciences/Evolutionary biology/Molecular evolution/Genome evolution","/Biology and life sciences/Molecular biolog[...]
