/* ==========================================================================
   8. Advanced search page
   ========================================================================== */

/* text area.  should look like input text box*/
#unformattedQueryId {
  height: 10.5em;
  width: 434px;
  padding: 10px 0 10px 12px;
  border-radius: 6px;
  font-size: 18px;
}

.ui-datepicker-month,
.ui-datepicker-year {
  height: 21px;
}

.advanced-form .input-holder {
  margin: 11px 0 0;
}

.advanced-form input[type="text"] {
  margin-top: 10px;
}

.small-btn {
  margin: 0 0 0 5px;
  padding: 3px 0 3px 0;
  min-width: 45px;
  border: none;
  border-radius: 4px;
  background: $button_color;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.filter-journals label {
  font-size: 15px;
  color: #333;
  font-weight: normal;
}

#fsJournalOpt {
  padding-left: 20px;
}

#fsJournalOpt label {
  padding: 0;
}

.help-block {
  margin: 30px 19px 20px 0;
  font-size: 14px;
  color: #333;
}

.help-block li {
  list-style-type: inherit;
  padding-top: 5px;
  margin-left: 20px;
}

.help-block h3 {
  font-family: "FS Albert Web Regular", Verdana , sans-serif;
  font-size: 17px;
  border-bottom: 1px solid #b3b3b3;
  padding-top: 10px;
  padding-bottom: 5px;
}

.advanced-form .filter-journals label {
  letter-spacing: normal;
}

.nona-link {
  cursor: pointer;
  text-decoration: underline;
}
