// PLOS colors and typography:

$background: #333;
$footer_background: #333;
$header_background: #333;
$header_text_color: #fff;
$footer_text_color: #ccc;
$footer_text_strong_color: #fff;
$main_background: #efefef;
$body_text_color: #333;
$light_body_text_color: #666;
$button_color: #3c63af;
$button_text_color: #fff;
$button_hover: #333;
$font_family: Arial, sans-serif;
$secondary_font_family: "FS Albert Web", Verdana, sans-serif;
$font_normal_weight: normal;
$active: #fb8903;
$breadcrumb_background_first: #6B6B6B;
$breadcrumb_background_second: #525252;
$breadcrumb_background_third: #1E1E1E;
$breadcrumb_text_color: white;
$breadcrumb_background_active: $active;
$breadcrumb_background: white;
$heading_size: 34px;
$list_count_background: $breadcrumb_background_second;

@import 'common';
