// Default colors and typography:

$background: #fff;
$footer_background: #fff;
$header_background: #fff;
$header_text_color: #222;
$footer_text_color: #666;
$footer_text_strong_color: #333;
$main_background: #efefef;
$body_text_color: #333;
$button_color: #00ACE7;
$button_text_color: #fff;
$button_hover: #222;
$font_family: 'Fira Sans', sans-serif;
$font_normal_weight: 300;
$active: #6EC652;
$breadcrumb_background_first: #6B6B6B;
$breadcrumb_background_second: #525252;
$breadcrumb_background_third: #1E1E1E;
$breadcrumb_text_color: white;
$breadcrumb_background_active: $active;
$breadcrumb_background: white;
$heading_size: 50px;
$list_count_background: $breadcrumb_background_second;

@import "common";
