// Derived colors derived from other colors
$subheader_background: lighten($breadcrumb_background_first, 45);


@mixin font_normal($family: $font_family, $weight: normal) {
  font-style: normal;
  font-weight: $weight;
  font-family: $family;
}

@mixin font_italic($family: $font_family, $weight: normal) {
  font-style: italic;
  font-weight: $weight;
  font-family: $family;
}

@mixin font_bold_normal($family: $font_family, $weight: bold) {
  font-style: normal;
  font-weight: $weight;
  font-family: $family;
}

@mixin font_bold_italic($family: $font_family, $weight: bold) {
  font-style: italic;
  font-weight: $weight;
  font-family: $family;
}

// Icons

@mixin metrics-icon($color: black) {
  background: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400 400'>
      <rect y='21.6' width='42.3' height='42.3' fill='#{$color}'/>
      <rect y='126.6' width='42.3' height='42.3' fill='#{$color}'/>
      <rect y='231.6' width='42.3' height='42.3' fill='#{$color}'/>
      <rect y='336.5' width='42.3' height='42.3' fill='#{$color}'/>
      <rect x='84' y='21.6' width='316' height='42.3' fill='#{$color}'/>
      <rect x='84' y='126.6' width='316' height='42.3' fill='#{$color}'/>
      <rect x='84' y='231.6' width='316' height='42.3' fill='#{$color}'/>
      <rect x='84' y='336.5' width='316' height='42.3' fill='#{$color}'/>
      </svg>") no-repeat;
}

@mixin visualization-icon($color: black) {
  background: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 400 400'>
    <line stroke-width='30' stroke-miterlimit='10' x1='15' y1='31' x2='15' y2='369' stroke='#{$color}'/>
    <line stroke-width='30' stroke-miterlimit='10' x1='402' y1='354' x2='2' y2='354' stroke='#{$color}'/>
    <line stroke-width='20' stroke-miterlimit='10' x1='64.2' y1='277.8' x2='170.7' y2='171.2' stroke='#{$color}'/>
    <line stroke-width='20' stroke-miterlimit='10' x1='170.7' y1='171.2' x2='239.5' y2='240' stroke='#{$color}'/>
    <line stroke-width='20' stroke-miterlimit='10' x1='239.5' y1='240' x2='379.5' y2='99.9' stroke='#{$color}'/>
    <circle cx='80.2' cy='263.3' r='24.7' fill='#{$color}'/>
    <circle cx='171.1' cy='170.4' r='24.7' fill='#{$color}'/>
    <circle cx='237.6' cy='234.8' r='24.7' fill='#{$color}'/>
    <circle cx='366.2' cy='115.2' r='24.7' fill='#{$color}'/>
    </svg>") no-repeat;
}

@mixin share-icon($color: black) {
  background: url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 2048 2048' xmlns='http://www.w3.org/2000/svg'>
    <path d='M1600 1117v259q0 119-84.5 203.5t-203.5 84.5h-832q-119 0-203.5-84.5t-84.5-203.5v-832q0-119 84.5-203.5t203.5-84.5h255q13 0 22.5 9.5t9.5 22.5q0 27-26 32-77 26-133 60-10 4-16 4h-112q-66 0-113 47t-47 113v832q0 66 47 113t113 47h832q66 0 113-47t47-113v-214q0-19 18-29 28-13 54-37 16-16 35-8 21 9 21 29zm237-496l-384 384q-18 19-45 19-12 0-25-5-39-17-39-59v-192h-160q-323 0-438 131-119 137-74 473 3 23-20 34-8 2-12 2-16 0-26-13-10-14-21-31t-39.5-68.5-49.5-99.5-38.5-114-17.5-122q0-49 3.5-91t14-90 28-88 47-81.5 68.5-74 94.5-61.5 124.5-48.5 159.5-30.5 196.5-11h160v-192q0-42 39-59 13-5 25-5 26 0 45 19l384 384q19 19 19 45t-19 45z' fill='#{$color}'/>
  </svg>") no-repeat;
}

@mixin arrow($color: black) {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(149, 213, 162, 0);
  border-top-color: $color;
  border-width: 13px;
  margin-left: -13px;
}

// Skeleton, SCSSized
@import "normalize";
@import "skeleton";

@import "style";
@import "ui";
@import "spinner";

@import "bubble_chart";
@import "line_chart";
@import "sunburst_chart";
@import "datamap_chart";

a {
  text-decoration: none;
}



.section {
  padding-top: 2rem;
  padding-bottom: 2rem;

  &.main {
    h2 {
      font-family: $secondary_font_family;
    }
    padding-top: 4rem;
    background: $main_background;
    .row {
      padding: 0 40px;
    }
  }

  &.header {
    font-family: $secondary_font_family;
  }
  &.header, &.footer {
    color: $header_text_color;
    padding-bottom: 0;
    background: $header_background;

    a {
      color: $header_text_color;
    }

    a:hover {
      decoration: underline;
    }
  }

  a.button {
    font-size: 14px;


    color: $button_text_color;
  }
}
