/* 5.1. Form block
   ========================================================================== */


h2 {
  font-size: 26px;
}

.input-holder {
  margin: 0 0 0 3px;
  position: relative;
}

input.secondary {
  background: none;
  color: $button_color;
}

label {
  margin: 11px 0 0;
  padding: 0 0 9px;
  display: inline-block;
  color: #999;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: -1px;
}

input[type="text"] {
  width: 100%;
  font-size: 18px;
}

.hasdate-picker-active{
  color: #000!important;
}

.date-input-fields {
  display: none;
}

.date-input-fields input[type="text"] {
  width: 162px;
  padding-left: 27px;
  margin: 14px 0 0;
  color: #999;
}

.date-input-fields span {
  padding: 26px 20px 0;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: #999;
  vertical-align: top;
}

.home-form, .advanced-form {
  select {
    width: 100%;
    width: calc(100% + 22px);
    height: 45px;
    border-radius: 6px;
    padding: 20px;
    font-size: 18px;
  }
}

.submit-btn {
  margin: 25px 6px 0 1px;
  padding: 8px 0 9px;
  min-width: 78px;
  border: none;
  border-radius: 4px;
  background: $button_color;
  color: $button_text_color;
  font-family: $font_family;
  font-weight: bold;
  font-size: 15px;
}

.disabled-submit-btn {
  background: #333 !important;
  cursor: default !important;
}

.button-hover-dark-black:hover {
  background: $button_hover !important;
}

.button-hover-dark-blue:hover {
  background: $button_color !important;
}

.reset-btn {
  padding: 8px 6px 9px;
  border: none;
  background: none;
  cursor: pointer;
  color: $button_color;
  font-family: $font_family;
  font-weight: bold;
  font-size: 15px;
}

/* make it look like reset-btn */
.home-form h2 a,
.advanced-form h2 a {
  padding: 8px 6px 9px;
  cursor: pointer;
  color: $button_color;
  font-family: $font_family;
  font-weight: bold;
  font-size: 17px;
}

/* 5.2. Aside block
   ========================================================================== */

.aside-container {
  .button, button {
    text-align: left;
  }

  width: 233px;
  float: right;
}

.scroll-fixed {
  position: fixed;
  top: 0;
  margin-top: 10px;
}

.aside-container.aside {
  a {
    margin: 28px 0 0;
    display: block;
  }
  a + a {
    margin-top: 8px;
  }
}

.aside-container.aside a:hover {
  background: $background;
}


/* 5.3. Articles list block
   ========================================================================== */

.articles-list {
  margin: 48px 0;

  div {
    // margin: 32px 6px 0 0;
    display: inline;
    position: relative;

    a {
      height: 71px;
      width: 178px;
      border-radius: 4px;
      color: $button_text_color;
      background: $background;
      margin-right: 4%;
      font-size: 14px;
      font-weight: bold;
      display: inline-block;
    }

    &:last-child a {
      margin-right: 0;
    }

    a:hover {
      // color: $button_text_color;
      background: $button_color !important;
    }

    a span {
      float: left;
    }

    a span + span {
      margin: 26px 0 0;
    }
  }

}

.top-views {
  width: 26px;
  height: 26px;
  margin: 23px 14px 0 17px;
  background: image-url('sprite.png') -299px -142px;
}

.top-bookmarked {
  width: 12px;
  height: 31px;
  margin: 20px 12px 0 18px;
  background: image-url('sprite.png') -326px -142px;
}

.top-tweets {
  width: 26px;
  height: 22px;
  margin: 24px 14px 0 17px;
  background: image-url('sprite.png') -340px -142px;
}

.top-cited {
  width: 22px;
  height: 22px;
  margin: 25px 16px 0 18px;
  background: image-url('sprite.png') -367px -142px;
}

.top-shares {
  width: 30px;
  height: 30px;
  margin: 21px 11px 0 15px;
  background: image-url('sprite.png') -390px -142px;
}

/* 5.4. Sample reports block
   ========================================================================== */

.sample-reports {
  margin-top: 48px;
  padding-bottom: 50px;

  a {
    background: #fff;
    width: 100%;
    float: left;
    text-align: center;
    div.title {
      color: $button_text_color;
      padding: 2rem;
      display: block;
      background: $background;
      font-size: 14px;
      font-weight: bold;
    }
    div.number {
      font-size: 28px;
      font-weight: bold;
      padding: 2rem;
      color: $button_color;
    }
  }

  a:hover {
    color: $header_text_color;
    text-decoration: underline;
  }
}

/* 5.5. Search.doi-pmid
   ========================================================================== */

.doi-pmid-form {
  padding: 0 0 100px 0;
  position: relative;
}

.doi-pmid-form h2 {
  margin: 0 0 34px 106px;
  font-size: 26px;
}

.input-example {
  font-size: 14px;
  color: #9f9f9f !important;
}

.doi-pmid-form .input-holder {
  margin: 0;
}

.doi-pmid-form label {
  margin: 4px 500px 0 106px;
  padding: 0 0 3px;
}

.doi-pmid-form input[type="text"] {
  margin: 0 11px 0 0;
  display: inline-block;
}

.doi-pmid-form .input-holder div {
  padding: 6px 0 6px 107px;
}

.error-holder {
  background: #f0d5d8;
}

.doi-pmid-form .input-holder div p {
  margin: 15px 0 0 3px;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  font-weight: bold;
}

.doi-pmid-form .input-holder div .input-example {

}

.doi-pmid-form .input-holder div span {
  margin: 15px 10px 0 10px;
  padding: 0 22px 0 0;
  display: inline-block;
  vertical-align: top;
  float: right;
  background: image-url('remove-background.png') 55px center no-repeat;
  font-size: 12px;
  cursor: pointer;
  color: #c27e86;
}

.doi-form {
  width: 700px;
  margin: 45px 0 0 0px;
  position: relative;
  float: left;
  min-height: 290px;
}

.add-to-list-btn {
  margin: 22px 20px 0 107px;
  padding: 7px 19px 8px;
}

.add-more-fields-btn {
  padding: 7px 19px 8px 18px;
  margin-left: 0;
  background: $background;
  color: #fff;
}

.doi-pmid-form-landing .error-title,
.doi-pmid-form-landing .input-holder div span,
.doi-pmid-form-landing .error-message {
  visibility: hidden;
}

/* 5.6. Search.doi-pmid.fix-errors
   ========================================================================== */

.error-color {
  color: #e53350;
}

.error-title {
  margin-left: 106px;
  margin-top: -16px;
  font-size: 14px;
}

/* 5.7. Preview-list
   ========================================================================== */


.list input[type="checkbox"] {
  top: 1px;
}

.preview-form .success,
.preview-form .updating {
  display: none;
}

/* 5.8. Articles
   ========================================================================== */

.keyword,
.author-name,
.author-country,
.publication-date,
.journals {
  font-weight: bold;
}

ul.actions li {
  &:first-child, &.sort {
    padding-left: 0;
    border-left: none;
  }


  &.sort {
    margin-left: 4rem;
  }

  padding: 0 1rem;
  border-left: 1px solid $button_color;
  display: inline;
}

.invisible {
  display: none;
}

.select-articles-message a {
  color: $button_color;
}

input[type="checkbox"] {
  cursor: pointer;
}

.article-info {
  margin: 0 0 22px 22px;
  position: relative;

  input[type="checkbox"] {
    position: absolute;
    top: 6px;
    left: -25px;
  }

  a {
    color: $body_text_color;
    text-decoration: underline;
    font-size: 14px;
    font-weight: bold;
  }

  a:hover {
    color: $button_color;
  }

  .success, .error {
    position: absolute;
    top: 34px;
    left: -61px;
    font-size: 12px;
    color: #2d9e00;
  }

  .error {
    color: #e53350;
  }

  .updating {
    position: absolute;
    width: 16px;
    height: 11px;
    top: 24px;
    left: -35px;
    background: image-url('ajax-loader.gif') no-repeat 0 0;
  }

  p {
    margin: 3px 0 0;
    line-height: 16px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 12px;
  }

  p.authors {
    color: $light_body_text_color;
  }

  p + p {
    margin: 0;
  }
}

.success-tick {
  width: 11px;
  height: 12px;
  margin: 0 0 0 1px;
  display: inline-block;
  vertical-align: middle;
  background: image-url('sprite.png') no-repeat -124px -142px;
}

.select-all-articles-link:hover,
.unselect-all-articles-link:hover,
.select-articles-message a:hover {
  color: $active;
}

.unselect-all-articles-link {
  margin-left: 2rem;
}

.pagination {
  width: 100%;
  margin: 88px 0 154px 0;
}

.pagination a,
.pagination span {
  min-width: 16px;
  height: 22px;
  padding: 4px 4px 0 4px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.pagination .ellipses {
  color: #8d8d8d;
}

.previous {
  margin: 0 199px 0 0;
  background: image-url('sprite.png') no-repeat -249px -142px;
}

span.previous {
  background-position: 0 -142px;
}

.pagination-number {
  margin: 0 0 0 1px;
  background: #c2c2c2;
  border-radius: 4px;
  color: #333 !important; /* i'm sorry about the !important */
}

.pagination-number:hover {
  background: $active;
}

.pagination-selected {
  background: $active;
  cursor: default;
}

.next {
  margin: 0 0 0 200px;
  background: image-url('sprite.png') no-repeat -274px -142px;
}

span.next {
  background-position: -25px -142px;
}

.preview-list-aside, .aside-container {
  &.scroll-fixed {
    margin: 10px 0 0;
  }
  .add-article-links .article-links {
    padding: 11px 0 11px 4px;
  }
  li {
    margin-bottom: 0;
  }
  ul {
    margin: 16px 0 0 0;
  }

  .preview-list-aside-form .button {
    height: 43px;
    padding-right: 26px;
  }
}

.preview-list-aside-form,
.preview-list-aside-form + p {
  position: relative;
  float: left;
}

.btn-arrow {
  width: 5px;
  height: 9px;
  position: absolute;
  top: 17px;
  right: 12px;
  background: image-url('sprite.png') -50px -142px no-repeat;
}

.right-list-btn {
  margin: 0;
  padding: 13px 26px 12px 9px;
  border-radius: 5px;
  font-size: 16px;
}

.aside-container p {
  margin: 0;
  font-weight: normal;
  font-size: 22px;
}

.add-article-links {
  margin: 19px 0 0;
}

.add-article-links li {
  width: 100%;
  display: inline-block;
  border-top: 1px solid #aeaeae;
}

.add-article-links .article-links {
  padding: 11px 0 11px 4px;
  border-radius: 0;
  display: inline-block;
  background: none;
  font-size: 16px;
  font-weight: bold;
  color: $button_color;
}

/* 5.9. Home.welcome-back
   ========================================================================== */

.welcome-back-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: image-url('welcome-back-bg.png') repeat;
}

.welcome-back-holder {
  width: 427px;
  height: 325px;
  margin: 250px auto 0;
  padding: 0 0 0 43px;
  background: $background;
}

.welcome-close-btn {
  width: 25px;
  height: 25px;
  margin: 15px 15px 0 0;
  float: right;
  text-indent: -9999px;
  background: image-url('sprite.png') -223px -142px;
  cursor: pointer;
}

.welcome-back-holder h2 {
  margin: 38px 0 0;
  display: inline-block;
  color: #fff;
  font-weight: bold;
}

.welcome-back-holder p {
  width: 94%;
  margin: 8px 0 0;
  line-height: 18px;
  color: #ccc;
  font-size: 13px;
}

.welcome-back-holder a {
  border-radius: 4px;
  display: inline-block;
  background: $button_color;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.welcome-back-holder p + a {
  width: 187px;
  margin: 23px 0 0 1px;
  padding: 19px 0 21px;
}

.welcome-back-holder p + a + a {
  width: 187px;
  margin: 23px 0 0 4px;
  padding: 19px 0 21px 0;
}

.welcome-back-holder p + a + a + a {
  width: 382px;
  margin: 7px 0 0 1px;
  padding: 26px 0 28px 0;
}

/* 5.10. Sample-charts
   ========================================================================== */

.sample-charts {
  width: 600px;
  margin: 56px 0 2px 78px;
  font-size: 14px;
}

.sample-charts h2 {
  font-size: 27px;
}

.sample-charts-content .visualizations-list h2 {
  width: 100%;
}

.sample-charts-content {
  padding: 0 0 90px;
}

.sample-charts-content .visualizations-list {
  width: 870px;
  margin: 60px 0 4px 71px;
  padding: 44px 0 0 8px;
  border-top: 1px solid #d6d6d6;
}

.sample-charts-content .sample-charts + .visualizations-list {
  margin: 31px 0 4px 79px;
  padding: 0;
  border: none;
}

.sample-charts-content .visualizations-list h2,
.sample-charts-content .visualizations-list p {
  margin-left: 0;
}

.sample-charts-content .visualizations-list img {
  margin: 29px 0 0;
}

.sample-charts-content .visualizations-list .info {
  margin: 30px 0 0;
}

.sample-charts p {
  margin: 9px 0 0;
  line-height: 17px;
  color: $light_body_text_color
}

/* 5.11. Sample-metrics
   ========================================================================== */

.sample-metrics {
  margin: 56px 0 0 78px;
  padding: 0 0 54px;
}

.sample-metrics p {
  width: 600px;
  margin: 12px 0 30px;
  color: $light_body_text_color;
  font-size: 14px;
}

.sample-metrics-list-container {
  width: 291px;
  margin: 0 29px 0 0;
  display: inline-block;
  vertical-align: top;
}

.sample-metrics h3 {
  padding: 0 0 4px 9px;
  border-bottom: 1px solid #aeaeae;
  font-size: 18px;
  font-weight: bold;
}

.metrics-list-holder {
  padding: 0 0 27px;
}

.metrics-list-holder li {
  padding: 4px 0 3px 9px;
  font-size: 14px;
}

/* 5.12. Report.metrics
   ========================================================================== */

.metrics-chart-view {
  width: 25px;
  height: 24px;
  margin: 47px 12px 0 0;
}

nav#report .metrics-chart-view + span {
  margin: 47px 12px 0 0;
  color: $button_color;
  font-size: 18px;
  font-weight: bold;
}

.metrics-icon-active + span {
  margin: 47px 102px 0 0;
  color: $active;
  font-size: 18px;
  font-weight: bold;
}

.metrics-left-content .metrics-article {
  width: 615px;
  position:absolute;
  top: 13px;
  left: 83px;
  display: inline-block;
  color: #000;
  line-height: 19px;
}

.metrics-article-count {
  margin: 0 0 5px 64px;
}

.metrics-list, .visualizations {
  h2 span {
    padding: 2px 8px 3px 8px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    background-color: #000;
    margin-right: 1rem;
    border-radius: 4px;
    vertical-align: text-bottom;
    float: left;
    margin-bottom: 50px;
    margin-top: -4px;
  }
}

.visualizations {
  p.source {
    margin-left: 15rem;
  }
  h2 {
    font-size: 22px;
  }
  h2 span {
    margin-top: 2px;
  }
  .report-downloads {
    margin-top: -25px;
  }

  .visualizations-container {
    clear: both;
  }
  .bubble.chart {
    margin-left: 5px;
  }
}

.metrics-list {
  display: inline-block;
  position: relative;

  &:first-child {
    margin-top: -24px;
  }

  &:not(:first-child) {
    margin-top: 48px;
  }

  .vertical-separator {
    display: inline;
    margin: 0 2px;
    font-size: 12px;
  }

  p, .metrics-table-content {
    margin-left: 33px;
  }

  .metrics-description {
    color: $body_text_color;
    font-size: 12px;
    line-height: 15px;
  }

  .metrics-no-data-para {
    width: 612px;
    display: inline-block;
    line-height: 19px;
    color: #e53350;
    font-size: 14px;
    font-weight: bold;
    padding: 14px 0 14px 0;
    margin: 0 0 0 43px;
  }

  a {
    color: $body_text_color;
    text-decoration: underline;
  }

  a:hover {
    cursor: pointer;
  }

  a span.arrow-down {
    width: 11px;
    height: 7px;
    margin: 0 0 0 10px;
    padding: 0 0 1px;
    display: inline-block;
    background: image-url('sprite.png') -617px -141px no-repeat;
  }

  a span.arrow-up {
    width: 11px;
    height: 7px;
    margin: 0 0 0 10px;
    padding: 0 0 1px;
    display: inline-block;
    background: image-url('sprite.png') -627px -141px no-repeat;
  }

  .metrics-table-content {
    width: 620px;
    display: inline-block;
  }

  .metric-row-content{
    width: 620px;
    float: left;
    margin-left: -7px;
  }

  .metrics-table {
    width: 289px;
    padding: 0 0 33px;
    font-weight: normal;
    border-spacing: 0 4px;
    font-size: 14px;
    float: left;
  }

  .metrics-table.plos-table {
    float: right;
  }

  td span{
    width: auto;
    margin: 0;
    padding: 0 0 0 8px;
    display: inline;
  }

  .metrics-table td:first-child {
    padding: 0 0 2px 8px;
  }

  table th {
    padding: 0 0 0 8px;
    text-align: left;
  }

  table .metrics-list-value {
    padding: 0 10px 0 0;
    text-align: right;
  }

  h2 {
    font-size: 19px;
    line-height: 24px;
    margin-bottom: 1rem;
    a {
      color: $body_text_color;
      text-decoration: underline;
    }
  }

  img {
    margin: 31px 0 0 37px;
  }

  .info {
    border-top: none;
    line-height: 17px;
    color: #4d4d4d;
  }

  p {
    color: $light_body_text_color;
    margin-bottom: 1em;
    font-size: 13px;
  }

  a.show-all-alms-link {
    color: $button_color;
    text-decoration: none;
  }
}

.visualizations {
  min-height: 560px;
}

.aside-container ul a:hover {
  text-decoration: underline;
}

caption {
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  margin: 0 0 10px 0;

  border-bottom: 1px solid #aeaeae;
  padding: 0 0 4px 8px;
}

.total-usage {
  font-weight: bold;
}

.metrics-pagination.pagination {
  width: 715px;
  padding: 0 0 38px;
}

.metric-without-data {
  display: none;
}

/* 5.13. Report.visualizations
   ========================================================================== */

nav#report {
  margin-top: -4rem;
  margin-bottom: 2rem;
  width: 100%;
  height: 12rem;
  line-height: 1;
  background-color: $subheader_background;
  border-radius: 0 0 5px 5px;

  .metrics-icon, .chart-view {
    float: left;
    color: $body_text_color;
    font-weight: bold;
    font-size: 18px;
    position: relative;
  }

  .metrics-icon-active:after, .chart-view-active:after {
    @include arrow($subheader_background);
    top: 7rem;
  }

  .metrics-icon {
    height: 20px;
    margin: 46px 100px 0 50px;
    padding: 0 0 0 31px;
    @include metrics-icon($body_text_color);
  }

  .metrics-icon:hover,
  .metrics-icon-active {
    @include metrics-icon($active);
    color: $active;
  }

  .chart-view {
    height: 23px;
    margin: 46px 11px 0 0;
    padding: 0 0 0 38px;
    @include visualization-icon($body_text_color);
  }

  .report-share-block .share-button {
    margin-top: 37px;
    @include share-icon($button_color);
    background-size: 30px 39px;
    background-position-x: 10px;
    border: 1px #9c9c9c solid;
  }

  .chart-view:hover,
  .chart-view-active {
    @include visualization-icon($active);
    color: $active;
  }

  .inactive-viz-link {
    color: #999 !important;
    @include visualization-icon(#999);
  }

  .inactive-viz-holder {
    width: 240px;
    height: 120px;
    float: left;
  }

  .inactive-viz-link:hover {
    color: #999 !important;
    @include visualization-icon(#999);
  }

  .inactive-viz-msg {
    height: 23px;
    padding: 10px 0 0 0;
    float: left;
    color: #999;
    font-size: 10px;
  }

  .download-visuals {
    a, a:hover { color: $button_text_color;}
    width: 185px;
    margin: 11px 36px 0 0;
    float: right;
  }

  span {
    float: left;
  }

  .report-share-block .share-button:hover, .report-share-block:hover .share-button {
    color: $button_text_color;
    border: 1px transparent solid;
    @include share-icon($button_text_color);
    background-size: 30px 39px;
    background-position-x: 10px;
    background-color: $background;
  }
}

.edit-list,
.start-over {
  border-radius: 5px;
  float: right;
  background: $button_color;
  font-size: 14px;
  font-weight: bold;
  color: $button_text_color;
}

.edit-list:hover,
.start-over:hover {
  background: $button_hover;
}

.edit-list {
  width: 122px;
  height: 29px;
  padding: 15px 0 0 64px;
}

.start-over {
  width: 129px;
  height: 30px;
  margin: 3px 0 0;
  padding: 14px 0 0 57px;
}

/* 5.14. Report download block
   ========================================================================== */

.report-downloads {
  width: 240px;
  float: right;
  margin-top: 26px;

  a {
    color: $body_text_color;
  }

  h2 {
    margin: 0 0 0 16px;
    font-size: 22px;
  }
  ul {
    margin-bottom: 0;
    width: 100%;
  }
  li {
    margin-bottom: 0;
    width: 100%;
    border-bottom: 1px solid #aeaeae;
    display: inline-block;
    position: relative;
  }

  .csv {
    width: 40px;
    height:46px;
    margin: 29px 15px 0 18px;
    float: left;
    background: image-url('sprite.png') -459px -141px;
  }
  .png {
    width: 40px;
    height:46px;
    margin: 29px 15px 0 18px;
    float: left;
    background: image-url('sprite.png') -498px -141px;
  }
  .file-name {
    width: 100px;
    height: 92px;
    padding: 6px 0 0;
    line-height: 16px;
    font-size: 15px;
    font-weight: bold;
  }
  span {
    width: 90px;
    margin: 0;
    line-height: 16px;
    display: table-cell;
    vertical-align: middle;
    font-size: 12px;
    font-weight: normal;
  }
  .arrow {
    width: 13px;
    height:20px;
    position: absolute;
    top: 44%;
    right: 34px;
    background: image-url('sprite.png') -537px -142px;
  }
}

.file-name:hover {
  text-decoration: underline;
}

/* the visualization download link isn't a real link (doesn't have href attr)
   it needs to be styled as a link */
#download_viz:hover {
  cursor: pointer;
}

.report-downloads .report-share-block {
  margin: 40px 0 0 17px;
  width: 186px;
}

.report-downloads .report-share-block > a {
  margin: 0;
  padding: 8px 54px 9px 53px;
  text-align: center;
  background: $background;
  display: block;
}

.share-box {
  height: 116px;
  margin: 12px 0 0;
  padding: 9px 0 2px;
  border-radius: 4px;
  display: none;
  background: $button_color;
}

.report-share-block:hover .share-box {
  display: block;
  float: right;
  position: absolute;
  top: 67px;
  background: $background;
}

.report-share-block {
  margin-left: 90px;
  float: left;
  position: relative;
  height: 90px;

  .share-box a {
    margin: 1px 0 0;
    padding: 0;
    float: left;
    background: none;
  }
  .share-box a:hover span {
   text-decoration: underline;
  }
}

/*
 * This is a bit of a hack--see ALM-359.  DP originally had this button
 * as an <a> but we changed it to a <span> since it's not supposed to be
 * a link.  Removing the link seems to wreak havoc with the organization
 * of the related styles (note all the !important below).
 */
.share-button {
  margin: 0;
  padding: 8px 0 7px 28px;
  min-width: 78px;
  height: 22px;
  line-height: 20px;
  border: none;
  border-radius: 4px;
  background: #000;
  color: $button_color;
  text-align: center;
  font-weight: bold;
  font-size: 15px !important;
}

.share-box a span {
  float: left;
}

.share-box a span + span {
  margin: 10px 0 0 5px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

.share-box .google-plus-logo {
  margin: 5px 0 0 6px;
  background: image-url('sprite.png') no-repeat scroll -549px -142px transparent;
}

.share-box .google-plus-logo,
.share-box .facebook-logo,
.share-box .twitter-logo,
.share-box .email-logo {
  width: 18px;
  height: 17px;
  float: left;
}

.share-box .google-plus-text {
  margin: 6px 0 0 5px;
}

.share-box .facebook-logo {
  margin: 9px 1px 0 6px;
  background: image-url('sprite.png') no-repeat scroll -566px -142px transparent;
}

.share-box .twitter-logo {
  margin: 9px 1px 0 6px;
  background: image-url('sprite.png') no-repeat scroll -583px -142px transparent;
}

.share-box .email-logo {
  margin: 9px 1px 0 6px;
  background: image-url('sprite.png') no-repeat scroll -600px -142px transparent;
}

/* 5.15. Page: Upload-file
   ========================================================================== */

/* 5.16. Page: Upload file - Fix Errors
   ========================================================================== */

.upload-message {
  margin: -16px 0 32px 106px;
  color: $light_body_text_color;
  font-size: 14px;
}

.upload-error-title {
  margin: 6px 0 6px 106px;
  font-size: 14px;
}

.upload-file .doi-pmid-form .error-holder p{
  color: #e53350;
}
.upload-file-form  .error-holder {
  margin: 2px 0;
}

.upload-file-form label {
  margin: 0 15px 0 0;
  padding: 0 0 25px;
}

.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.upload-file-form input[type="text"] {
  padding: 2px 0 2px 12px;
}

.error-holder span {
  cursor: pointer;
}

.upload-file-error-input-holder {
  margin: 0 0 0 107px;
}

.upload-add-to-my-list {
  clear: none;
  margin: 18px 20px 77px 0;
}

.upload-file-error-input-holder p {
  width: 60%;
  display: none;
  color: #E53350;
  font-size: 14px;
}
