/* ==========================================================================
   3. Container
   ========================================================================== */

.text-light-italic {
  @include font_italic($font_family, $font_normal_weight);
}

.text-bold-normal {
  @include font_bold_normal($font_family);
}

.text-bold-italic {
  @include font_bold_italic($font_family);
}

.metrics-article-title {
  margin: 0 0 0 43px;
}


header ul a:hover {
  text-decoration: underline
}

ul {
  display: inline-block;
}

li {
  list-style-type: none;
}
