.facets {
  ul {
    font-size: 14px;
    li {
      margin-bottom: 0;
    }
  }
  a {
    font-size: 14px;
  }
  .see_all {
    margin-top: 1rem;
    margin-bottom: 1.6rem;
  }

  input[type="checkbox"] {
    margin-bottom: 0;
  }
}

