/* ==========================================================================
   6. Footer
   ========================================================================== */

footer {
  li {
    margin-bottom: 0;
  }
  a:hover {
    text-decoration: underline;
  }
}

footer.nav-area {
  background: $footer_background;
}

.credits {
  width: 400px;
  margin: 25px 0 0 10px;
  display: inline-block;
  vertical-align: top;
}

.credits > a {
  width: 100%;
  display: inline-block;
}

.credits p {
  width: 240px;
  margin: 113px 0 0;
  display: inline-block;
  color: $footer_text_color;
  font-size: 12px;
}

.credits strong {
  color: $footer_text_strong_color;
}

.credits p + p {
  width: 100%;
  margin: 26px 0 0;
  font-size: 12px;
}

.credits p + p span {
  padding: 0 5px;
  display: inline-block;
}

.credits li {
  padding: 0 10px 0 0;
  color: #666;
}

.credits a {
  color: $footer_text_color;
}

footer {
  font-size: 12px;
  color: $footer_text_color;

  h2 {
    font-size: 12px;
    font-weight: bold;
    color: $header_text_color;
  }

  .external-links {
    font-weight: bold;
  }
}

/* override the jquery datepicker defaults */
.ui-datepicker {
  font-size: 12px;
  width: 186px;
  z-index: 6 !important;
}

/* General settings */
div.selector,
div.selector span,
div.checker span,
div.radio span,
div.uploader,
div.uploader span.action,
div.button,
div.button span {
  background: none;
 -webkit-font-smoothing: auto;
}

.selector,
.checker,
.button,
.radio,
.uploader {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}

.selector select:focus,
.radio input:focus,
.checker input:focus,
.uploader input:focus {
  outline: 0;
}

.selector,
.radio,
.checker,
.uploader,
.button,
.selector *,
.radio *,
.checker *,
.uploader *,
.button * {
  margin: 0;
  padding: 0;
}

/* Remove default webkit and possible mozilla .search styles */
div.checker input,
input.search,
input.search:active {
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* Uploader */
div.uploader {
  width: 256px;
  height: auto;
  margin: 5px 0 0 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

div.uploader span.action {
  min-width: 78px;
  width: auto;
  height: auto;
  padding: 7px 12px 8px;
  text-align: center;
  float: left;
  display: inline;
  overflow: hidden;
  cursor: pointer;
  line-height: normal;
  text-shadow: none;
}

div.uploader span.filename {
  height: auto;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  cursor: text;
  margin: 0 2px 0 0;
  width: 118px;
  padding: 7px 10px;
  line-height: normal;
}

div.uploader input {
  position: absolute;
}

div.uploader span.action {
  border-radius: 4px;
  background: $button_color;
  font-size: 15px;
  font-weight: bold;
}

div.uploader span.action:hover {
  background: $background;
}
div.uploader span.filename {
  border: 1px solid #999;
  font-size: 15px;
  color: #666;
}

div.uploader.disabled span.action {
  color: #aaa;
}

div.uploader.disabled span.filename {
  border-color: #ddd;
  color: #aaa;
}

.reports-header-div {
  height: 48px;
  margin-bottom: 7px;
}

.reports-header-div + div {
  width: 670px;
  height: 392px;
}
