/* ==========================================================================
   4. Header
   ========================================================================== */

header h1 {
  font-size: 20px;
}

header.nav-area {
  background: $header_background;
}

h1 {
  margin: 3rem 0 0;
  display: inline-block;
}

h1 + ul {
  margin: 4rem 0 0;
  float: right;
  font-size: 16px;
}

h1 + ul li:first-child {
  padding: 12px 16px 12px 0;
  border-left: none;
}

h1 + ul li {
  padding: 12px 0 12px 18px;
  border-left: 1px solid #666;
  display: inline;
  font-size: 20px;
}

.tagline {
  margin: 2rem 0 2rem 0;
  display: inline-block;

  h2 {
    font-size: $heading_size;
    color: $header_text_color;
  }

  p {
    font-style: italic;
    margin-bottom: 0;
  }

  span {
    font-style: normal;
    margin: 0 5px;
  }
}

.tagline a:hover,
.list-hover a:hover {
  text-decoration: underline;
}

.list-outer-container {
  margin: 2rem 0 0;
  float: right;
  @include font_bold_normal($font_family);
  color: $button_text_color;
}

.list-container {
  background: $list_count_background;
  width: 180px;
  height: 53px;
  display: inline-block;
  line-height: 53px;
  cursor: pointer;
}

.list-container > span {
  width: 90px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.list-label {
  font-size: 14px;
  background: $button_color;
}

.list-count {
  font-size: 32px;
}

.list-hover {
  width: 180px;
  display: none;
}

.list-outer-container:hover .list-hover {
  display: block;
}

.list-hover a {
  width: 100%;
  margin: 3px 0 0;
  padding: 9px 0;
  border-radius: 4px;
  float: left;
  font-size: 14px;
  text-align: center;
  background: $button_color;
  color: $button_text_color;
}

.list-hover span {
  width: 100%;
  margin: 3px 0 0;
  padding: 9px 0;
  border-radius: 4px;
  float: left;
  font-size: 14px;
  text-align: center;
  background: black;
}

.hover-bg-dark-black {
  background: #333 !important;
}
