/* ==========================================================================
   1. Reset
   ========================================================================== */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type="radio"] {
  vertical-align: text-bottom;
}

.ie8 input {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  border: 0;
  vertical-align: middle;
}

sub,sup {
  font-size: 55%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

.cf:before, .cf:after {
  content: "";
  display: table;
  clear: both;
}

.cf { zoom: 1; }
