/* 7. Static content
   ========================================================================== */
.static_content {
  width: 635px;
  margin: 45px 0 45px 60px;
  position: relative;
  display: inline-block;
  color: #333;
}

.static_content h2 {
  margin: 0 0 18px 0;
}

.ajax_spinner {
  background: url(/assets/select_all_loader.gif) no-repeat 0 0;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  text-align: center;
  z-index: 20;
  overflow: auto;
  width: 50px;
  height: 52px;
  display: none;
}

#gray-out-screen {
  position: absolute;
  left: 0;
  top: 0;
  background: #666;
}

#error-message-div {
  background: #f0d5d8 url(/assets/warning.png) no-repeat 35px 10px;
  color: #e4324f;
  padding: 15px 30px 15px 80px;
  width: 850px;
  display: none;
}

#error-message-div a {
  color: #000;
}

.doi-pmid-error-div {
  margin: 0 0 18px 0;
}


/* static page */
.static_page div {
 font-size: 14px;
 margin-top: 18px;
 margin-bottom: 18px;
}

.static_page a {
  color: #369;
}

.static_page a:hover {
  text-decoration: underline;
}

.static_page ul {
  display: block;
  padding-left: 30px;
}

.static_page li {
  list-style-type: disc;
  font-size: 14px;
  margin-top: 8px;
}

.static_page h3 {
  font-family: "FS Albert Web Regular", Verdana , sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}

.exception-message {
  font-family: "courier"
}
