@charset "utf-8";
/*------------------------------------------------------------------
  [Table of contents]

  1. Reset
  2. Body
  3. Container / .container
  4. Header
  5. Content
    5.1. Form block
    5.2. Aside block
    5.3. Articles list block
    5.4. Sample reports block
    5.5. Page: Search.doi-pmid
    5.6. Page: Search.doi-pmid.fix-errors
    5.7. Page: Preview-list
    5.8. Page: Add-articles
    5.9. Page: Home.welcome-back
    5.10. Page: Sample-charts
    5.11. Page: Sample-metrics
    5.12. Page: Report.metrics
    5.13. Page: Report.visualizations
    5.14. Report download block
    5.15. Page: Upload-file
    5.16. Page: Upload file - Fix Errors
  6. Footer
  7. Static content

  -------------------------------------------------------------------*/
  /*------------------------------------------------------------------
  [Color codes]

  1. White (website default color): #fff
  2. Dark grey (text): #333
  3. Mid Grey: #666
  4. Grey (labels, input fields): #999
  5. Light grey : #ccc
  6. Blue (Reset button): #3c63af
  7. Grey (Input example text): #9f9f9f
  8. Light red (Error text in Search.doi page): #c27e86
  9. Red (Error message text): #e533050
  10. Grey ("sort by" keyword): #8d8d8d
  11. Grey: #858585
  12. Light grey ("saved" keyword): #2d9e00
  13. Orange (Metric icon active and hover): #fb8903
  14. Dark blue (anchor in report.metrics page): #369
  15. Dark grey (Paragraph in visualization page): #4d4d4d
  16. Dim grey (Visualizatio): 9c9c9c

  -------------------------------------------------------------------*/

/* ==========================================================================
   1. Reset
   ========================================================================== */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html {
  overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type="radio"] {
  vertical-align: text-bottom;
}

.ie8 input {
  vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em {
  font-style: italic;
}

img {
  border: 0;
  vertical-align: middle;
}

sub,sup {
  font-size: 55%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.7em;
}

sub {
  bottom: -.25em;
}

.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after { clear: both; }

.cf { zoom: 1; }

/* ==========================================================================
   2. Body
   ========================================================================== */

body {
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
}

/* ==========================================================================
   3. Container
   ========================================================================== */

.container {
  width: 100%;
}

.albert-light-normal {
  font-family: "FS Albert Web Regular", Verdana , sans-serif;
  font-size-adjust: 0.48;
  font-weight: normal;
  font-style: normal;
}

.albert-light-italic {
  font-family: "FS Albert Web Italic", Verdana , sans-serif;
  font-size-adjust: 0.48;
  font-weight: normal;
  font-style: italic;
}

.albert-bold-normal {
  font-family: "FS Albert Web Bold", Verdana , sans-serif;
  font-size-adjust: 0.49;
  font-weight: bold;
  font-style: normal;
}

.albert-bold-italic {
  font-family: "FS Albert Web Bold Italic", Verdana , sans-serif;
  font-size-adjust: 0.49;
  font-weight: bold;
  font-style: italic;
}

.metrics-article-title {
  margin: 0 0 0 43px;
  font-family: "FS Albert Web Regular", Verdana , sans-serif;
  font-size: 120%;
  font-weight: normal;
  font-style: normal;
}

.nav-area {
  width: 100%;
  background: #333;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

header ul a:hover {
  text-decoration: underline
}

ul {
  display: inline-block;
}

li {
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
}

/* ==========================================================================
   4. Header
   ========================================================================== */

h1 {
  margin: 61px 0 0 10px;
  display: inline-block;
}

h1 + ul {
  margin: 69px 9px 0 0;
  float: right;
  font-size: 16px;
}

h1 + ul li:first-child {
  padding: 12px 16px 12px 0;
  border-left: none;
}

h1 + ul li {
  padding: 12px 0 12px 18px;
  border-left: 1px solid #666;
  display: inline;
  font-size: 20px;
}

.tagline {
  margin: 63px 0 48px 62px;
  width: 67%;
  display: inline-block;
}

.tagline a:hover,
.list-hover a:hover {
  text-decoration: underline;
}

.tagline h2 {
  font-size: 34px;
  color: #fff;
}

.tagline p {
  margin: 7px 0 0;
}

.tagline p + p {
  margin: 2px 0 0;
}

.tagline p + p span{
  padding: 0 6px;
  display: inline-block;
}

.list-outer-container {
  margin: 70px 10px 0 0;
  float: right;
  font-weight: bold;
}

.list-container {
  width: 180px;
  height: 53px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}

.list-container > span {
  width: 90px;
  float: left;
  text-align: center;
}

.list-label {
  padding: 18px 0 20px;
  font-size: 14px;
  background: #3c63af;
}

.list-count {
  padding: 8px 0 8px;
  font-size: 32px;
  background: #828282;
}

.list-hover {
  width: 180px;
  display: none;
}

.list-outer-container:hover .list-hover {
  display: block;
}

.list-hover a {
  width: 100%;
  margin: 3px 0 0;
  padding: 9px 0;
  border-radius: 4px;
  float: left;
  font-size: 14px;
  text-align: center;
  background: #3c63af;
}

.hover-bg-dark-black {
  background: #333 !important;
}

.progress-bar {
  margin: 21px 0 0;
  font-weight: bold;
}

.progress-bar li {
  height: 47px;
  padding-top: 22px;
  display: inline-block;
  font-size: 22px;
  letter-spacing: -1px;
}

.progress-bar-tab1.progress-bar-tab1-active {
  background: url(/assets/sprite.png) 0 0;
}

.progress-bar-tab1 {
  width: 334px;
  background: url(/assets/sprite.png) 0 -71px;
  text-indent: 75px;
}

.progress-bar-tab2 {
  width: 334px;
  margin: 0 0 0 -18px;
  background: url(/assets/sprite.png) -336px -71px;
  text-indent: 87px;
}

.progress-bar-tab2.progress-bar-tab2-active{
  background: url(/assets/sprite.png) -336px 0px;
}

.progress-bar-tab3 {
  width: 320px;
  margin: 0 0 0 -19px;
  background: url(/assets/sprite.png) -672px -71px;
  text-indent: 91px;
}

.progress-bar-tab3.progress-bar-tab3-active {
  background: url(/assets/sprite.png) -672px 0;
}

/* ==========================================================================
   5. Content
   ========================================================================== */

.content {
  margin-bottom: 49px;
  border-radius: 0 0 4px 4px;
  background: #efefef;
}

/* 5.1. Form block
   ========================================================================== */

.home-form {
  width: 500px;
  margin: 70px 0 0 103px;
  display: inline-block;
}

h2 {
  color: #333;
  font-size: 26px;
}

.input-holder {
  margin: 0 0 0 3px;
  position: relative;
}

label {
  margin: 11px 0 0;
  padding: 0 0 9px;
  display: inline-block;
  color: #999;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: -1px;
}

input[type="text"] {
  width: 434px;
  padding: 10px 0 10px 12px;
  border-radius: 6px;
  font-size: 18px;
}

.hasdate-picker-active{
  color: #000!important;
}

.date-input-fields {
  display: none;
}

.date-input-fields input[type="text"] {
  width: 162px;
  padding-left: 27px;
  margin: 14px 0 0;
  color: #999;
}

.date-input-fields span {
  padding: 26px 20px 0;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  color: #999;
  vertical-align: top;
}

select {
  width: 450px;
  height: 45px;
  border-radius: 6px;
  font-size: 18px;
}

.input-holder select {
  margin-bottom: 2px;
}

.select {
  width: 438px;
  height: 45px;
  padding: 12px 0 0 16px;
  position: absolute;
  top: 42px;
  left: -4px;
  overflow: hidden;
  background: url(/assets/sprite.png) -187px -399px no-repeat;
  font-size: 18px;
  color: #333;
}

.submit-btn {
  margin: 25px 6px 0 1px;
  padding: 8px 0 9px;
  min-width: 78px;
  border: none;
  border-radius: 4px;
  background: #3c63af;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.button-hover-dark-black:hover {
  background: #333 !important;
}

.button-hover-dark-blue:hover {
  background: #3c63af !important;
}

.reset-btn {
  padding: 8px 6px 9px;
  border: none;
  background: none;
  cursor: pointer;
  color: #3c63af;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
}

/* 5.2. Aside block
   ========================================================================== */

.aside-container {
  width: 240px;
  margin: 50px 0 0;
  float: right;
}

.scroll-fixed {
  position: fixed;
  top: 0;
  margin-top: 10px;
}

.aside-container.aside {
  margin: 70px 19px 0 0;
}

.aside-container.aside a {
  padding: 8px 0 9px 10px;
  margin: 26px 0 0;
  display: block;
}

.aside-container.aside a:hover {
  background: #333;
}

.aside-container.aside a + a {
  padding: 8px 0 9px 10px;
  margin: 8px 0 0;
}

/* 5.3. Articles list block
   ========================================================================== */

.articles-list {
  margin: 90px 0 0 36px;
}

.articles-list div {
  margin: 32px 6px 0 0;
  float: left;
  position: relative;
}

.articles-list div a {
  width: 173px;
  height: 71px;
  margin: 0 6px 0 0;
  border-radius: 4px;
  float: left;
  background: #333;
  font-size: 14px;
  font-weight: bold;
}

.articles-list div a + a {
  width: 172px;
}

.articles-list div a + a + a {
  width: 173px;
}

.articles-list div a:hover {
  background: #3c63af !important;
}

.articles-list div a span {
  float: left;
}
.articles-list div a span + span {
  margin: 26px 0 0;
}

.top-views {
  width: 26px;
  height: 26px;
  margin: 23px 14px 0 17px;
  background: url(/assets/sprite.png) -299px -142px;
}

.top-bookmarked {
  width: 12px;
  height: 31px;
  margin: 20px 12px 0 18px;
  background: url(/assets/sprite.png) -326px -142px;
}

.top-tweets {
  width: 26px;
  height: 22px;
  margin: 24px 14px 0 17px;
  background: url(/assets/sprite.png) -340px -142px;
}

.top-cited {
  width: 22px;
  height: 22px;
  margin: 25px 16px 0 18px;
  background: url(/assets/sprite.png) -367px -142px;
}

.top-shares {
  width: 30px;
  height: 30px;
  margin: 21px 11px 0 15px;
  background: url(/assets/sprite.png) -390px -142px;
}

/* 5.4. Sample reports block
   ========================================================================== */

.sample-reports {
  margin: 70px 0 0 36px;
  padding-bottom: 50px;
}

.sample-reports a {
  width: 216px;
  margin: 39px 8px 0 0;
  float: left;
}

.sample-reports a:hover img + span,
.sample-reports a:hover img + span + span {
  text-decoration: underline;
}

.sample-reports span {
  width: 196px;
  padding-left: 20px;
  float: left;
  background: #333;
  font-size: 14px;
  font-weight: bold;
}

.sample-reports img + span {
  padding-top: 22px;
}

.sample-reports img + span + span {
  width: 168px;
  min-height: 38px;
  padding: 1px 28px 0 20px;
}

.sample-reports img + span + span + span {
  padding: 0 0 30px 20px;
  position: relative;
  bottom: 0;
  font-size: 12px;
  color: #999;
}

/* 5.5. Search.doi-pmid
   ========================================================================== */

.doi-pmid-form {
  padding: 69px 0 100px 0;
  position: relative;
}

.doi-pmid-form h2 {
  margin: 0 0 34px 106px;
  font-size: 26px;
}

.input-example {
  font-size: 14px;
  color: #9f9f9f;
}

.doi-pmid-form .input-holder {
  margin: 0;
}

.doi-pmid-form label {
  margin: 4px 500px 0 106px;
  padding: 0 0 3px;
}

.doi-pmid-form input[type="text"] {
  margin: 0 11px 0 0;
  display: inline-block;
}

.doi-pmid-form .input-holder div {
  padding: 6px 0 6px 107px;
}

.error-holder {
  background: #f0d5d8;
}

.doi-pmid-form .input-holder div p {
  margin: 15px 0 0 3px;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  font-weight: bold;
}

.doi-pmid-form .input-holder div .input-example {

}

.doi-pmid-form .input-holder div span {
  margin: 15px 10px 0 60px;
  padding: 0 22px 0 0;
  display: inline-block;
  vertical-align: top;
  float: right;
  background: url(/assets/remove-background.png) 55px center no-repeat;
  font-size: 12px;
  cursor: pointer;
  color: #c27e86;
}

.add-to-list-btn {
  margin: 22px 20px 0 107px;
  padding: 7px 19px 8px;
}

.add-more-fields-btn {
  padding: 7px 19px 8px 18px;
  margin-left: 0;
  background: #333;
  color: #fff;
}

.doi-pmid-form-landing .error-title,
.doi-pmid-form-landing .input-holder div span,
.doi-pmid-form-landing .error-message {
  visibility: hidden;
}

/* 5.6. Search.doi-pmid.fix-errors
   ========================================================================== */

.error-color {
  color: #e53350;
}

.error-title {
  margin-left: 106px;
  margin-top: -16px;
  font-size: 14px;
}

/* 5.7. Preview-list
   ========================================================================== */

.preview-list {
  width: 628px;
  margin: 45px 0 0 38px;
  position: relative;
  display: inline-block;
  min-height: 330px;
}

.preview-form h2 {
  margin: 0 0 18px 41px;
}

.preview-form p {
  margin: 0 0 0 41px;
  color: #333;
}

/*
  this selector might break in the future.  (due to hidden elements genearted by ruby on rails)
  If the hidden element generated by ruby on rails changes, this will break.
*/
.preview-form meta + .article-info {
  margin: 47px 0  21px 42px;
}

.preview-form .article-info input[type="checkbox"] {
  top: 1px;
}

.input-list {
  margin: 0 0 77px 0;
}

.update-list-btn {
  margin: 18px 8px 0 42px;
  padding: 7px 12px 8px 11px;
}

.preview-form .success,
.preview-form .updating {
  display: none;
}

/* 5.8. Add-articles
   ========================================================================== */

.article-lists {
  width: 635px;
  margin: 45px 0 0 38px;
  position: relative;
  display: inline-block;
  min-height: 290px;
}

.article-lists h2 {
  margin: 0 0 18px 42px;
}

.article-lists p {
  width: 570px;
  margin: 0 0 0 41px;
  line-height: 18px;
  color: #333;
}

.keyword,
.author-name,
.author-country,
.publication-date,
.journals {
  color: #333;
  font-weight: bold;
}

.article-lists p span {
  display: inline-block;
  color: #333;
}

.article-lists ul {
  margin: 44px 0 0 41px;
}

.article-lists li {
  padding: 3px 0 2px 10px;
  cursor: pointer;
  color: #3c63af;
}

.article-lists ul li:first-child {
  border-left: none;
  padding: 3px 7px 3px 0;
}

.article-lists ul li {
  border-left: 1px solid #3c63af;
  display: inline;
}

.article-lists span{
  color: #8d8d8d;
}

.article-info {
  width: inherit;
  margin: 0 0 22px 42px;
  position: relative;
}

p.select-articles-message {
  margin: 16px 0 12px 44px;
  font-size: 14px;
  color: #858585;
}

.invisible {
  visibility: hidden;
}

.select-articles-message a {
  color: #3c63af;
}

input[type="checkbox"] {
  cursor: pointer;
}

.article-info input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: -36px;
}

.article-info a {
  margin: 0;
  border-bottom: 1px solid #333;
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.article-info .success,
.article-info .error {
  position: absolute;
  top: 34px;
  left: -61px;
  font-size: 12px;
  color: #2d9e00;
}

.article-info .error {
  color: #e53350;
}

.success-tick {
  width: 11px;
  height: 12px;
  margin: 0 0 0 1px;
  display: inline-block;
  vertical-align: middle;
  background: url(/assets/sprite.png) no-repeat -124px -142px;
}

.article-info .updating {
  position: absolute;
  width: 16px;
  height: 11px;
  top: 24px;
  left: -35px;
  background: url(/assets/ajax-loader.gif) no-repeat 0 0;
}

.article-info p {
  margin: 3px 0 0;
  line-height: 16px;
  color: #666;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.article-info p + p {
  margin: 0;
  color: #333;
}

.select-all-articles-link:hover,
.unselect-all-articles-link:hover,
.select-articles-message a:hover {
  color: #fb8903;
}

.add-select-box-holder {
  margin: 35px 53px 0 0;
  position: relative;
  float: right;
}

.add-select-box-holder .add-select-label {
  width: 66px;
  margin: 9px 0 0;
  float: left;
}

.article-lists .select {
  width: 169px;
  height: 28px;
  padding: 8px 0 0 16px;
  top: 0;
  left: 69px;
  background: url(/assets/sprite.png) -647px -399px no-repeat;
  color: #333;
}

.pagination {
  width: 100%;
  margin: 88px 0 154px 0;
}

.pagination a,
.pagination span {
  min-width: 16px;
  height: 22px;
  padding: 4px 4px 0 4px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.pagination .ellipses {
  color: #8d8d8d;
}

.previous {
  margin: 0 199px 0 0;
  background: url(/assets/sprite.png) no-repeat -249px -142px;
}

span.previous {
  background-position: 0 -142px;
}

.pagination-number {
  margin: 0 0 0 1px;
  background: #c2c2c2;
  border-radius: 4px;
  color: #333 !important; /* i'm sorry about the !important */
}

.pagination-number:hover {
  background: #fb8903;
}

.pagination-selected {
  background: #fb8903;
  cursor: default;
}

.next {
  margin: 0 0 0 200px;
  background: url(/assets/sprite.png) no-repeat -274px -142px;
}

span.next {
  background-position: -25px -142px;
}


.preview-list-aside.scroll-fixed {
  margin: 10px 0 0;
}

.preview-list-aside .add-article-links .article-links {
  padding: 11px 0 11px 4px;
}

.preview-list-aside-form,
.preview-list-aside-form + p {
  position: relative;
  float: left;
}

.btn-arrow {
  width: 5px;
  height: 9px;
  position: absolute;
  top: 17px;
  right: 12px;
  background: url(/assets/sprite.png) -50px -142px no-repeat;
}

.right-list-btn {
  margin: 0;
  padding: 13px 26px 12px 9px;
  border-radius: 5px;
  font-size: 16px;
}

.aside-container p {
  margin: 37px 0 0;
  color: #333;
  font-weight: normal;
  font-size: 22px;
}

.add-article-links {
  margin: 19px 0 0;
}

.add-article-links li {
  width: 100%;
  display: inline-block;
  border-top: 1px solid #aeaeae;
}

.add-article-links .article-links {
  width: 106px;
  padding: 11px 0 11px 4px;
  border-radius: 0;
  display: inline-block;
  background: none;
  font-size: 16px;
  font-weight: bold;
  color: #3c63af;
}

/* 5.9. Home.welcome-back
   ========================================================================== */

.welcome-back-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(/assets/welcome-back-bg.png) repeat;
}

.welcome-back-holder {
  width: 427px;
  height: 325px;
  margin: 250px auto 0;
  padding: 0 0 0 43px;
  background: #333;
}

.welcome-close-btn {
  width: 25px;
  height: 25px;
  margin: 15px 15px 0 0;
  float: right;
  text-indent: -9999px;
  background: url(/assets/sprite.png) -223px -142px;
  cursor: pointer;
}

.welcome-back-holder h2 {
  margin: 38px 0 0;
  display: inline-block;
  color: #fff;
  font-weight: bold;
}

.welcome-back-holder p {
  width: 94%;
  margin: 8px 0 0;
  line-height: 18px;
  color: #ccc;
  font-size: 13px;
}

.welcome-back-holder a {
  border-radius: 4px;
  display: inline-block;
  background: #3c63af;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.welcome-back-holder p + a {
  width: 187px;
  margin: 23px 0 0 1px;
  padding: 19px 0 21px;
}

.welcome-back-holder p + a + a {
  width: 187px;
  margin: 23px 0 0 4px;
  padding: 19px 0 21px 0;
}

.welcome-back-holder p + a + a + a {
  width: 382px;
  margin: 7px 0 0 1px;
  padding: 26px 0 28px 0;
}

/* 5.10. Sample-charts
   ========================================================================== */

.sample-charts {
  width: 600px;
  margin: 56px 0 2px 78px;
  font-size: 14px;
}

.sample-charts h2 {
  font-size: 27px;
}

.sample-charts-content .visualizations-list h2 {
  width: 100%;
}

.sample-charts-content {
  padding: 0 0 90px;
}

.sample-charts-content .visualizations-list {
  width: 752px;
  margin: 60px 0 4px 71px;
  padding: 44px 0 0 8px;
  border-top: 1px solid #d6d6d6;
}

.sample-charts-content .sample-charts + .visualizations-list {
  margin: 31px 0 4px 79px;
  padding: 0;
  border: none;
}

.sample-charts-content .visualizations-list h2,
.sample-charts-content .visualizations-list p {
  margin-left: 0;
}

.sample-charts-content .visualizations-list img {
  margin: 29px 0 0;
}

.sample-charts-content .visualizations-list .info {
  margin: 30px 0 0;
}

.sample-charts p {
  margin: 9px 0 0;
  line-height: 17px;
  color: #666;
}

/* 5.11. Sample-metrics
   ========================================================================== */

.sample-metrics {
  margin: 56px 0 0 78px;
  padding: 0 0 54px;
  color: #333;
}

.sample-metrics p {
  width: 600px;
  margin: 12px 0 30px;
  color: #666;
  font-size: 14px;
}

.sample-metrics-list-container {
  width: 291px;
  margin: 0 29px 0 0;
  display: inline-block;
  vertical-align: top;
}

.sample-metrics h3 {
  padding: 0 0 4px 9px;
  border-bottom: 1px solid #aeaeae;
  font-size: 18px;
  font-weight: bold;
}

.metrics-list-holder {
  padding: 0 0 27px;
}

.metrics-list-holder li {
  padding: 4px 0 3px 9px;
  font-size: 14px;
}

/* 5.12. Report.metrics
   ========================================================================== */

.view-report.metrics-view-report {
  height: 123px;
  background: url(/assets/sprite.png) 0 -602px;
}

.metrics-chart-view {
  width: 25px;
  height: 24px;
  margin: 47px 12px 0 0;
  background: url(/assets/sprite.png) -68px -141px;
}

.view-report .metrics-chart-view + span {
  margin: 47px 12px 0 0;
  color: #3c63af;
  font-size: 18px;
  font-weight: bold;
}

.metrics-icon-active {
  width: 20px;
  height: 18px;
  margin: 49px 12px 0 80px;
  background: url(/assets/sprite.png) 0px -141px;
}

.metrics-icon-active + span {
  margin: 47px 102px 0 0;
  color: #fb8903;
  font-size: 18px;
  font-weight: bold;
}

.metrics-left-content {
  width: 715px;
  display: inline-block;
  position: relative;
  color: #333;
  min-height: 560px;
}

.metrics-left-content .metrics-article {
  width: 615px;
  position:absolute;
  top: 13px;
  left: 83px;
  display: inline-block;
  color: #000;
  line-height: 19px;
}

.metrics-article-count {
  margin: 0 0 5px 83px;
}

.visualizations-list {
  margin: 48px 0 4px 35px;
  display: inline-block;
  position: relative;
}

.visualizations-list .vertical-separator {
  display: inline;
  margin: 0 2px;
  font-size: 12px;
}

.visualizations-list .metrics-para {
  width: 612px;
  display: inline-block;
  line-height: 19px;
  color: #666;
  font-size: 14px;
  padding: 0 0 14px;
  border: none;
}

.visualizations-list .list-numbers {
  width: 24px;
  height: 24px;
  margin: 0;
  padding: 4px 0 0 1px;
  position: absolute;
  top: 0;
  left: 0;  
  background: url(/assets/sprite.png) no-repeat -197px -142px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 17px;
}

.visualizations-list .metrics-description {
  margin: 0 0 0 43px;
  padding: 0;
  color: #333;
  font-size: 12px;
  line-height: 15px;
  border: none;
}

.visualizations-list .metrics-no-data-para {
  width: 612px;
  display: inline-block;
  line-height: 19px;
  color: #e53350;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 0 14px 0;
  margin: 0 0 0 43px;
}

.visualizations-list a {
  width: 160px;
  margin: 21px 0 0 43px;
  display: inline-block;
  color: #369;
  font-size: 14px;
}

.visualizations-list a:hover { 
  cursor: pointer;
}

.aside-container ul a:hover {
  text-decoration: underline;
}

.visualizations-list a span {
  width: 11px;
  height: 7px;
  margin: 0 0 0 10px;
  padding: 0 0 1px;
  display: inline-block;
  background: url(/assets/sprite.png) -617px -141px no-repeat;
}

.visualizations-list .metrics-table-content {
  width: 620px;
  margin: 7px 0 0 14px;
  display: inline-block;
}

.visualizations-list .metric-row-content{
  width: 620px;
  float: left;
}

.visualizations-list .metrics-table {
  width: 289px;
  margin: 0 0 0 20px;
  padding: 0 0 33px;
  font-weight: normal;
  border-spacing: 0 4px;
  font-size: 14px;
  float: left;
}

.visualizations-list .metrics-table.plos-table {
  float: right;
}

.visualizations-list td span{
  width: auto;
  margin: 0;
  padding: 0 0 0 8px;
  display: inline;
}

.visualizations-list .metrics-table td:first-child {
  padding: 0 0 2px 8px;
}

.visualizations-list table th {
  padding: 0 0 0 8px;
  text-align: left;
}

.visualizations-list table .metrics-list-value {
  padding: 0 10px 0 0;
  text-align: right;
}

caption {
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  margin: 0 0 10px 0;

  border-bottom: 1px solid #aeaeae;
  padding: 0 0 4px 8px;
}

.total-usage {
  font-weight: bold;
}

.metrics-pagination.pagination {
  width: 715px;
  margin: 55px 0 0 38px;
  padding: 0 0 38px;
}

.metric-without-data {
  display: none;
}

/* 5.13. Report.visualizations
   ========================================================================== */

.view-report {
  width: 100%;
  height: 123px;
  display: inline-block;
  background: url(/assets/sprite.png) 0 -478px;
}

.view-report span {
  float: left;
}

.metrics-icon {
  width: 110px;
  height: 20px;
  margin: 46px 100px 0 81px;
  padding: 0 0 0 31px;
  float: left;
  background: url(/assets/matrix-data-icon.png) no-repeat;
  background-position: 0 3px;
  color: #3c63af;
  font-weight: bold;
  font-size: 18px;
}

.metrics-icon:hover,
.metrics-icon-active {
  background: url(/assets/matrix-data-hover-icon.png) no-repeat;
  background-position: 0 3px;
  color: #fb8903;
}

.chart-view {
  width: 110px;
  height: 23px;
  margin: 46px 11px 0 0;
  padding: 0 0 0 38px;
  float: left;
  background: url(/assets/visualization-icon.png) 0 1px no-repeat;
  color: #3c63af;
  font-weight: bold;
  font-size:18px;
}

.chart-view:hover,
.chart-view-active {
  background: url(/assets/visualization-hover-icon.png) 0 1px no-repeat;
  color: #fb8903;
}

.view-report .download-visuals {
  width: 185px;
  margin: 11px 36px 0 0;
  float: right;
}

.edit-list,
.start-over {
  border-radius: 5px;
  float: right;
  background: #3c63af;
  font-size: 14px;
  font-weight: bold;
}

.edit-list:hover,
.start-over:hover {
  background: #333;
}

.edit-list {
  width: 122px;
  height: 29px;
  padding: 15px 0 0 64px;
}

.start-over {
  width: 129px;
  height: 30px;
  margin: 3px 0 0;
  padding: 14px 0 0 57px;
}

/* 
  the width used to be 650 but changed to 705 so that 
  download visualization functionality can generate pretty image of the graphs
*/
.visualizations-container {
  width: 705px;
  display: inline-block;
  min-height: 560px;
}

.last-visualizations-list {
  margin: 55px 0 240px 35px;
}

.visualizations-list h2 {
  width: 570px;
  margin: 0 0 0 43px;
  float: left;
  font-size: 26px;
  line-height: 24px;
}

.visualizations-list img {
  margin: 31px 0 0 37px;
}

.visualizations-list .info {
  margin: 24px 0 0 44px;
  padding: 0;
  border-top: none;
  line-height: 17px;
  color: #4d4d4d;
}

.visualizations-list p {
  width: 602px;
  margin: 9px 0 0 43px;
  padding: 10px 0 0 1px;
  border-top: 1px solid #e4e4e4;
  font-size: 14px;
  color: #9c9c9c;
}

/* 5.14. Report download block
   ========================================================================== */

.report-downloads {
  width: 240px;
  margin: 23px 0 0;
  float: right;
}

.report-downloads h2 {
  margin: 0 0 0 16px;
  font-size: 22px;
}

.report-downloads ul {
  width: 100%;
}

.report-downloads li {
  width: 100%;
  border-bottom: 1px solid #aeaeae;
  display: inline-block;
  position: relative;
}

.report-downloads .csv {
  width: 40px;
  height:46px;
  margin: 29px 15px 0 18px;
  float: left;
  background: url(/assets/sprite.png) -459px -141px;
}

.report-downloads .png {
  width: 40px;
  height:46px;
  margin: 29px 15px 0 18px;
  float: left;
  background: url(/assets/sprite.png) -498px -141px;
}

.report-downloads .file-name {
  width: 100px;
  height: 92px;
  padding: 6px 0 0;
  line-height: 16px;
  font-size: 15px;
  font-weight: bold;
}

.file-name:hover {
  text-decoration: underline;
}

.report-downloads span {
  width: 90px;
  margin: 0;
  line-height: 16px;
  display: table-cell;
  vertical-align: middle;
  color: #333;
  font-size: 12px;
  font-weight: normal;
}

.report-downloads .arrow {
  width: 13px;
  height:20px;
  position: absolute;
  top: 44%;
  right: 34px;
  background: url(/assets/sprite.png) -537px -142px;
}

/* the visualization download link isn't a real link (doesn't have href attr) 
   it needs to be styled as a link */
#download_viz:hover {
  cursor: pointer;
}

.report-downloads .report-share-block {
  margin: 40px 0 0 17px;
  width: 186px;
}

.report-downloads .report-share-block > a {
  margin: 0;
  padding: 8px 54px 9px 53px;
  text-align: center;
  background: #333;
  display: block;
}

.report-downloads .report-share-block:hover a {
  background: #3c63af;
}

.share-box {
  height: 116px;
  margin: 2px 0 0;
  padding: 9px 0 2px;
  border-radius: 4px;
  display: none;
  background: #3c63af;
}

.report-downloads .report-share-block:hover .share-box {
  display: block;
}

.report-share-block .share-box a {
  width: 72%;
  margin: 1px 0 0;
  padding: 0;
  float: left;
  background: none;
}

.report-share-block .share-box a:hover span {
  text-decoration: underline;
}

.share-box a span {
  float: left;
}

.share-box a span + span {
  margin: 10px 0 0 5px;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

.share-box .google-plus-logo {
  margin: 5px 0 0 18px;
  background: url(/assets/sprite.png) no-repeat scroll -549px -142px transparent;
}

.share-box .google-plus-logo,
.share-box .facebook-logo,
.share-box .twitter-logo,
.share-box .email-logo {
  width: 18px;
  height: 17px;
  float: left;
}

.share-box .google-plus-text {
  margin: 6px 0 0 5px;
}

.share-box .facebook-logo {
  margin: 9px 1px 0 18px;
  background: url(/assets/sprite.png) no-repeat scroll -566px -142px transparent;
}

.share-box .twitter-logo {
  margin: 9px 1px 0 18px;
  background: url(/assets/sprite.png) no-repeat scroll -583px -142px transparent;
}

.share-box .email-logo {
  margin: 9px 1px 0 18px;
  background: url(/assets/sprite.png) no-repeat scroll -600px -142px transparent;
}

/* 5.15. Page: Upload-file
   ========================================================================== */

.upload-file {
  padding: 69px 0 80px 106px;
}
.upload-file h2 {
  margin: 0 0 18px;
}

.upload-file p {
  width: 60%;
  color: #666;
  font-size: 14px;
}

.upload-file a {
  margin: 0;
  color: #333333;
  font-weight: bold;
}

.upload-file a:hover {
  border-bottom: 1px solid #333333;
}

.upload-file-form {
  width: 360px;
  margin: 20px 0 0 0;
}

input[type="file"] {
  color: #333;
  float: left;
}

.upload-file-form input[type="file"] {
  font-family: Arial,Helvetica,sans-serif;
  width: 255px;
}

.upload-file-btn {
  margin: 29px 0 0 0;
  padding: 7px 12px 8px;
}

/* 5.16. Page: Upload file - Fix Errors
   ========================================================================== */

.upload-message {
  margin: -16px 0 32px 106px;
  color: #666;
  font-size: 14px;
}

.upload-error-title {
  margin: 6px 0 6px 106px;
  font-size: 14px;
}

.upload-file .doi-pmid-form .error-holder p{
  color: #e53350;
}
.upload-file-form  .error-holder {
  margin: 2px 0;
}

.upload-file-form label {
  margin: 0 15px 0 0;
  padding: 0 0 25px;
}

.hidden {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.upload-file-form input[type="text"] {
  padding: 2px 0 2px 12px;
}

.error-holder span {
  cursor: pointer;
}

.upload-file-error-input-holder {
  margin: 0 0 0 107px;
}

.upload-add-to-my-list {
  clear: none;
  margin: 18px 20px 77px 0;
}

.upload-file-error-input-holder p {
  width: 60%;
  display: none;
  color: #E53350;
  font-size: 14px;
}

/* ==========================================================================
   6. Footer
   ========================================================================== */

footer {
  padding-bottom: 70px;
}

footer a:hover {
  text-decoration: underline;
}

.credits {
  width: 400px;
  margin: 25px 0 0 10px;
  display: inline-block;
  vertical-align: top;
}

.credits > a {
  width: 100%;
  display: inline-block;
}

.credits p {
  width: 240px;
  margin: 113px 0 0;
  display: inline-block;
  color: #ccc;
  font-size: 12px;
}

.credits strong {
  color: #fff;
}

.credits p + p {
  width: 100%;
  margin: 26px 0 0;
  font-size: 12px;
}

.credits p + p span {
  padding: 0 5px;
  display: inline-block;
}

.credits li {
  padding: 0 10px 0 0;
  color: #666;
}

.credits a {
  color: #ccc;
}

.plos-links-holder {
  width: 460px;
  margin: 18px 0 0 44px;
  display: inline-block;
}

.plos-links-holder h2 {
  width: 50%;
  padding: 0 0 5px 0;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}

.plos-links-holder li {
  width: 100%;
  display: inline-block;
  font-size: 12px;
}

.journal-links {
  width: 236px;
}

.journal-links a {
  color: #ccc;
}

.external-links {
  width: 180px;
  position: relative;
  top: -25px;
  font-weight: bold;
  vertical-align: top;
}


/* override the jquery datepicker defaults */
.ui-datepicker {
  font-size: 12px;
  width: 186px;
  z-index: 6 !important;
}

/* General settings */
div.selector,
div.selector span,
div.checker span,
div.radio span,
div.uploader,
div.uploader span.action,
div.button,
div.button span {
  background: none;
 -webkit-font-smoothing: auto;
}

.selector,
.checker,
.button,
.radio,
.uploader {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
}

.selector select:focus,
.radio input:focus,
.checker input:focus,
.uploader input:focus {
  outline: 0;
}

.selector,
.radio,
.checker,
.uploader,
.button,
.selector *,
.radio *,
.checker *,
.uploader *,
.button * {
  margin: 0;
  padding: 0;
}

/* Remove default webkit and possible mozilla .search styles */
div.checker input,
input.search,
input.search:active {
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* Uploader */
div.uploader {
  width: 256px;
  height: auto;
  margin: 5px 0 0 0;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

div.uploader span.action {
  min-width: 78px;
  width: auto;
  height: auto;
  padding: 7px 12px 8px;
  text-align: center;
  float: left;
  display: inline;
  overflow: hidden;
  cursor: pointer;
  line-height: normal;
  text-shadow: none;
}

div.uploader span.filename {
  height: auto;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  float: left;
  cursor: text;
  margin: 0 2px 0 0;
  width: 118px;
  padding: 7px 10px;
  line-height: normal;
}

div.uploader input {
  position: absolute;
  display: none;
}

div.uploader span.action {
  border-radius: 4px;
  background: #3c63af;
  font-size: 15px;
  font-weight: bold;
}

div.uploader span.action:hover {
  background: #333;
}
div.uploader span.filename {
  border: 1px solid #999;
  font-size: 15px;
  color: #666;
}

div.uploader.disabled span.action {
  color: #aaa;
}

div.uploader.disabled span.filename {
  border-color: #ddd;
  color: #aaa;
}

/* Select selector */

div.selector {
  width: 439px !important;
  height: 45px;
  padding: 0 0 0 16px;
  font-size: 18px;
  background: url(/assets/sprite.png) -192px -399px no-repeat;
}

div.selector.focus,
div.selector.hover,
div.selector:hover {
  background-position: -192px -399px;
}

div.selector.focus:active,
div.selector.focus.active,
div.selector:hover:active,
div.selector.active:hover {
  background-position: -192px -399px;
}

div.selector span {
  width: 100%; 
  height: 45px; 
  padding-right: 25px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  background-position: right 0;
  line-height: 45px;
  vertical-align: middle;
  cursor: pointer;
  color: #333;
  text-overflow: ellipsis;
}

div.selector select {
  width: 450px;
  height: 45px;
  display: inline-block;
  position: relative;
  top: -47px;
  left: -16px;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
}

.add-select-box-holder div.selector {
  width: 260px !important;
  height: 36px;
  padding: 0 0 0 16px;
  font-size: 18px;
  background: url(/assets/sprite.png) -647px -399px no-repeat;
}

.add-select-box-holder div.selector span {
  width: 100%;
  height: 36px;
  padding-right: 25px;
  color: #333;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  background-position: right 0;
  line-height: 37px;
  vertical-align: middle;
  cursor: pointer;
}

.add-select-box-holder div.selector select {
  width: 275px;
}

.add-select-box-holder div.selector.focus:active,
.add-select-box-holder div.selector.focus.active,
.add-select-box-holder div.selector:hover:active,
.add-select-box-holder div.selector.active:hover {
  background-position: -647px -399px;
}

.input-holder option,
.add-select-box-holder option {
  background: #fff;
  line-height: 21px;
  padding: 0 0 0 5px;
}

.reports-header-div {
  height: 48px;
  margin-bottom: 7px;
}

.reports-header-div + div {
  width: 670px;
  height: 392px;
}

/* 7. Static content 
   ========================================================================== */
.static_content {
  width: 635px;
  margin: 45px 0 45px 60px;
  position: relative;
  display: inline-block;
  color: #333;
}

.static_content h2 {
  margin: 0 0 18px 0;
}

.ajax_spinner {
  background: url(/assets/select_all_loader.gif) no-repeat 0 0;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -33px;
  margin-top: -33px;
  text-align: center;
  z-index: 20;
  overflow: auto;
  width: 66px;
  height: 68px;
  display: none;
}

#gray-out-screen {
  position: absolute;
  left: 0;
  top: 0;
  background: #666;
}

#error-message-div {
  background: #f0d5d8 url(/assets/warning.png) no-repeat 35px 10px;
  color: #e4324f;
  padding: 15px 30px 15px 80px;
  width: 850px;
  display: none;
}

#error-message-div a {
  color: #000;
}

.doi-pmid-error-div {
  margin: 0 0 18px 0;
}


/* static page */
.static_page div {
 font-size: 14px;
 margin-top: 18px;
 margin-bottom: 18px;
}

.static_page a {
  color: #369;
}

.static_page a:hover {
  text-decoration: underline;
}

.static_page ul {
  display: block;
  padding-left: 30px;
}

.static_page li {
  list-style-type: disc;
  font-size: 14px;
  margin-top: 8px;
}

.static_page h3 {
  font-family: "FS Albert Web Regular", Verdana , sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
}

.exception-message {
  font-family: "courier"
}
