---
http_interactions:
- request:
    method: get
    uri: http://api.crossref.org/works?filter=from-pub-date:2011,until-pub-date:2014,doi:10.1371/journal.pone.0112913&offset=0&rows=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":"ok","message-type":"work-list","message-version":"1.0.0","message":{"query":{"search-terms":null,"start-index":0},"items-per-page":1,"items":[{"subtitle":[],"subject":["Agricultural
        and Biological Sciences(all)","Medicine(all)","Biochemistry, Genetics and
        Molecular Biology(all)"],"issued":{"date-parts":[[2014,12,3]]},"score":1.0,"prefix":"http:\/\/id.crossref.org\/prefix\/10.1371","update-policy":"http:\/\/dx.doi.org\/10.1371\/journal.pone.corrections_policy","author":[{"family":"Loria","given":"Stephanie
        F."},{"family":"Prendini","given":"Lorenzo"}],"container-title":["PLoS ONE"],"reference-count":0,"page":"e112913","deposited":{"date-parts":[[2014,12,3]],"timestamp":1417564800000},"issue":"12","title":["Homology
        of the Lateral Eyes of Scorpiones: A Six-Ocellus Model"],"editor":[{"family":"R\u00e9taux","given":"Sylvie"}],"type":"journal-article","DOI":"10.1371\/journal.pone.0112913","ISSN":["1932-6203"],"URL":"http:\/\/dx.doi.org\/10.1371\/journal.pone.0112913","source":"CrossRef","publisher":"Public
        Library of Science (PLoS)","indexed":{"date-parts":[[2014,12,6]],"timestamp":1417827224221},"volume":"9","member":"http:\/\/id.crossref.org\/member\/340"}],"total-results":1,"facets":{}}}'
  recorded_at: Wed, 10 Dec 2014 13:43:23 GMT
recorded_with: VCR 2.9.3
