
  <div class="report-downloads">
    <h2 class="albert-light-normal">Downloads</h2>
    <ul>
      <li>
        <%= link_to :controller => "reports", :action => "download_data", :id => @report, :format => :csv  do %>
          <span class="csv"></span>
          <span class="file-name">Metrics Data<span> FIXME SIZE 1.2MB - CSV file</span></span>
          <span class="arrow"></span>
        <% end %>
      </li>

      <li>
        <a href="fixme">
          <span class="png"></span>
          <span class="file-name">Visualizations<span> 5.7MB - PNGS in ZIP file</span></span>
          <span class="arrow"></span>
        </a>
      </li>

      <li>
        <%= link_to :controller => "reports", :action => "download_data", :id => @report, :format => :csv, :field => "doi" do %>
          <span class="csv"></span>
          <span class="file-name">Your List of Article DOIs<span> FIXME SIZE 157K - CSV file</span></span>
          <span class="arrow"></span>
        <% end %>
      </li>
    </ul>
    <div class="report-share-block">
      <a class="submit-btn" href="fixme">Share</a>
      <div class="share-box">
        <a href="fixme"><span class="google-plus-logo"></span><span class="google-plus-text">Google+</span></a>
        <a href="fixme"><span class="facebook-logo"></span><span class="facebook-text">Facebook</span></a>
        <a href="fixme"><span class="twitter-logo"></span><span class="twitter-text">Twitter</span></a>
        <a href="fixme"><span class="email-logo"></span><span class="email-text">Email</span></a>
      </div>
    </div>
  </div>