
    <div class="report-share-block">
      <span class="share-button">Share</span>
      <div class="share-box">
        <a href="https://plus.google.com/share?url=<%=u request.url %>"
            target="_blank" title="Share on Google+"><span class="google-plus-logo"></span><span class="google-plus-text">Google+</span></a>
        <a href="http://www.facebook.com/share.php?u=<%=u request.url %>&amp;t=PLOS%20ALM%20Report"
            target="_blank" title="Share on Facebook"><span class="facebook-logo"></span><span class="facebook-text">Facebook</span></a>
        <a href="http://twitter.com/intent/tweet?text=%23PLOS%20ALM%20Report%3A%20<%=u request.url %>"
            target="_blank" title="Share on Twitter"><span class="twitter-logo"></span><span class="twitter-text">Twitter</span></a>
        <a href="mailto:?to=&subject=PLOS%20ALM%20Report&body=<%=u request.url %>"><span class="email-logo"></span><span class="email-text">Email</span></a>
      </div>
    </div>
